<div class="list-container">
    <div class="contributors-type-title-container">
        <div class="contributors-type-title">Admin</div>{{
        }}<div class="line-break"></div>
    </div>
    <ul id="contributors-feed-admin-list"></ul>
</div>
<div class="list-container" id="otherContribsContainer">
    <div class="contributors-type-title-container">
        <div class="contributors-type-title">Others</div>{{
        }}<div class="line-break"></div>
    </div>
    <ul id="contributors-feed-others-list"></ul>
    <div class="no-others-exist" hidden>No other contributors</div>
</div>