<div class="bubble-container">
    <div class="bubble-content-container z-depth-1">
        <div class="user-bubble-pic-container">
            <img class="user-bubble-pic {{#anon}}anon{{/anon}}" src="{{userPic}}"/>
        </div>
        <div class="user-bubble-gh-username-container">
            {{#anon}}
            <p>{{ghUsername}}</p>
            {{/anon}}
            {{^anon}}
            {{#showLink}}
            <a href="{{ghProfile}}" target="_blank">{{ghUsername}}</a>
            {{/showLink}}
            {{^showLink}}
            <p>No GitHub Profile</p>
            {{/showLink}}
            {{/anon}}
        </div>
    </div>
    <i class="fa fa-caret-down"></i>
</div>