<div class="list-container">
    <div class="my-projects-type-title-container">
        <div class="my-projects-type-title">Owner</div>{{
        }}<div class="line-break" id="myProjectsLB"></div>
    </div>
    <ul id="owned-projects-list">
        <div class="my-projects-none-message">No owned projects</div>
    </ul>
</div>
<div class="list-container">
    <div class="my-projects-type-title-container">
        <div class="my-projects-type-title">Contributor</div>{{
        }}<div class="line-break" id="contributionsLB"></div>
    </div>
    <ul id="contributing-projects-list">
        <div class="my-projects-none-message">No contributions</div>
    </ul>
</div>