<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hey <%= @recipient_name %>!</h1>
  <p><%= @sender_name %> has invited you to join <%= @project_name %> on OSS!<p><br>
  <p>Click here to join</p>
</body>
</html>