<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Hey <%= @name %>!</h1>
  <p>Person who invited you has invited you to join the project My Project on OSS!<p><br>
  <p>Click here to join</p>
</body>
</html>