<div class="modal fade" id="basicQuestionModalView" tabindex="-1" role="dialog" aria-labelledby="basicQuestionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="basicQuestionModalContentContainer">
            <div class="basic-modal-body">
                <div class="message">{{message}}</div>
                <div class="action-btn-container">
                    {{#showCancel}}
                    <div class="cancel-btn">{{cancelBtnText}}</div>
                    {{/showCancel}}
                    {{#showConfirm}}
                    <div class="confirm-btn">{{confirmBtnText}}</div>
                    {{/showConfirm}}
                </div>
            </div>
        </div>
    </div>
</div>