<div class="modal fade" id="myProjectsModalView" tabindex="-1" role="dialog" aria-labelledby="myProjectsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="myProjectsModalContentContainer">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="header-text">My Projects</div>
            </div>
            <div class="my-projects-modal-body">
                <div id="myProjectsFeedView"></div>
            </div>
        </div>
    </div>
</div>