<div class="modal fade" id="rulesModalView" tabindex="-1" role="dialog" aria-labelledby="rulesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="rulesModalContentContainer">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="header-text">Rules</div>
            </div>
            <div class="rules-modal-body">
                <div id="rulesContentView"></div>
                <div class="got-it-btn">Got it</div>
            </div>
        </div>
    </div>
</div>