<div class="modal fade" id="starredModalView" tabindex="-1" role="dialog" aria-labelledby="starredModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="starredModalContentContainer">
            <div class="modal-header">
                <button id="closeModalBtn" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="header-text">Starred Projects</div>
            </div>
            <div class="starred-modal-body">
                <div id="starredFeedView"></div>
            </div>
        </div>
    </div>
</div>