<div id="minorInfoEvolutionContainer">
    <div id="infoEvolutionToggleContainer">
        <div id="info" class="info-evolution-toggle-btn active {{^launched}}not-launched{{/launched}}">{{^launched}}Project {{/launched}}Info</div>{{
        }}{{#launched}}<div id="infoEvolutionTabSeparator"></div>{{
        }}<div id="evolution" class="info-evolution-toggle-btn">Coming Soon</div>{{/launched}}
    </div>
    <div id="minorInfoEvolutionFlipper">
        <div class="face" id="minorInfoView"></div>
        <div class="face" id="evolutionView"></div>
    </div>
</div>