<!--<div id="minorJoinFollowContainer">-->
    <!--&lt;!&ndash;<div class="project-minor-vote-arrow-container">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="project-minor-vote-arrow">&ndash;&gt;-->
            <!--&lt;!&ndash;<i class="fa fa-angle-up"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="project-minor-vote-count">{{voteCount}}</div>&ndash;&gt;-->
    <!--<div class="join-project-btn">Request to Join</div>-->
    <!--&lt;!&ndash;<div class="join-project-btn">Follow</div>&ndash;&gt;-->
<!--</div>-->
<div id="minorInfoEvolutionView"></div>