{{^spinnerView}}
<div class="add-implementation-scroll-container">
    <div data-question="is_owner">
        <div class="question"><span>*</span>Is this your own project?</div>
        <div class="answers">
            <div data-answer="yes">
                <div class="data-answer-btn">Yes</div>
            </div>
            <div data-answer="no">
                <div class="data-answer-btn">No</div>
            </div>
        </div>
    </div>
    <div class="questions-pending">
        <div data-question="done">
            <div class="question"><span>*</span>Is a working version already done?</div>
            <div class="answers">
                <div data-answer="yes">
                    <div class="data-answer-btn">Yes</div>
                </div>
                <div data-answer="no">
                    <div class="data-answer-btn">No</div>
                </div>
            </div>
        </div>
        <div data-question="seeking_contributors">
            <div class="question"><span>*</span>Are you looking for more contributors?</div>
            <div class="answers">
                <div data-answer="yes">
                    <div class="data-answer-btn">Yes</div>
                </div>
                <div data-answer="no">
                    <div class="data-answer-btn">No</div>
                </div>
            </div>
        </div>
    </div>
    <div class="add-implementation-title-container">
        <div class="title-text"><span>*</span>Title:</div>
        <div class="title-input-container">
            <input type="text" name="title" placeholder="Title or repo name"/>
        </div>
    </div>
    <div class="add-implementation-url-container">
        <div class="url-type"><span>*</span>URL:</div>
        <div class="url-input-container">
            <input type="text" name="main_url" placeholder="Full URL (repo preferred)"/>
        </div>
    </div>
    <div class="add-implementation-description-container">
        <div class="description-question">Details:</div>
        <textarea placeholder="Details or differences"></textarea>
    </div>
    <div class="add-implementation-integrations-container">
        <!--IRC-->
        <div class="integration-container" id="detailsViewIRCContainer">
            <div class="irc">IRC</div>{{
            }}<div id="ircChannel" class="forum-link-container">
            <input name="irc" placeholder="Channel (e.g. #myChannel)" type="text" value="{{ircChannel}}"/>
        </div>{{
            }}<div id="ircNetworkContainer">
            <select id="ircNetwork" placeholder="Network"></select>
        </div>
        </div>
        <!--Slack-->
        <div class="integration-container" id="slackIntegrationContainer">
            <div class="logo-container">
                <img id="slack" src="http://sourcehoney.s3-website-us-west-1.amazonaws.com/images/slack_logo.png"/>
            </div>
            <div class="forum-link-container">
                <input name="slack" placeholder="Full Slack team URL" type="text" value="{{slackURL}}"/>
            </div>
            <div class="or">OR</div>
            <div class="create-forum"><a href="https://slack.com/create" target="_blank">Create Team</a></div>
        </div>
        <!--HipChat-->
        <div class="integration-container">
            <div class="logo-container">
                <img id="hipchat" src="http://sourcehoney.s3-website-us-west-1.amazonaws.com/images/hipchat.png"/>
            </div>
            <div class="forum-link-container">
                <input name="hipchat" placeholder="Full HipChat team URL" type="text" value="{{hipChatURL}}"/>
            </div>
            <div class="or">OR</div>
            <div class="create-forum"><a href="https://www.hipchat.com/sign_up#new_team" target="_blank">Create Team</a></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="fake-top-border"></div>
    <div class="bottom-nav-create-btn" data-trigger="create">Add</div>
</div>
{{/spinnerView}}
{{#spinnerView}}
<div id="addImplementationSpinner"></div>
<div class="add-implementation-message">Adding Project...</div>
{{/spinnerView}}