<div class="add-implementation-scroll-container">
    <div class="add-implementation-integrations-container">
        <!--IRC-->
        <div class="integration-container" id="detailsViewIRCContainer">
            <div class="irc">IRC</div>{{
            }}<div id="ircChannel" class="forum-link-container">
            <input name="irc" placeholder="Channel (e.g. #myChannel)" type="text" value="{{ircChannel}}"/>
        </div>{{
            }}<div id="ircNetworkContainer">
            <select id="ircNetwork" placeholder="Network"></select>
        </div>
        </div>
        <!--Slack-->
        <div class="integration-container" id="slackIntegrationContainer">
            <div class="logo-container">
                <img id="slack" src="http://sourcehoney.s3-website-us-west-1.amazonaws.com/images/slack_logo.png"/>
            </div>
            <div class="forum-link-container">
                <input name="slack" placeholder="Enter Slack team URL" type="text" value="{{slackURL}}"/>
            </div>
            <div class="or">OR</div>
            <div class="create-forum"><a href="https://slack.com/create" target="_blank">Create Team</a></div>
        </div>
        <!--HipChat-->
        <div class="integration-container">
            <div class="logo-container">
                <img id="hipchat" src="http://sourcehoney.s3-website-us-west-1.amazonaws.com/images/hipchat.png"/>
            </div>
            <div class="forum-link-container">
                <input name="hipchat" placeholder="Enter HipChat team URL" type="text" value="{{hipChatURL}}"/>
            </div>
            <div class="or">OR</div>
            <div class="create-forum"><a href="https://www.hipchat.com/sign_up#new_team" target="_blank">Create Team</a></div>
        </div>
    </div>
</div>
