<div class="notifications-item-container">
    <div class="pic-text-container">
        <div class="pic">
            <a href="{{userGHLink}}" target="_blank"><img src="{{pic}}"/></a>
        </div>
        <div class="text">
            <a href="{{userGHLink}}" target="_blank">{{username}} </a>
            {{{text}}}
            <a href="{{projectLink}}">{{projectName}}</a>
            {{#acceptedIntegration}}. You should expect to receive an email invite soon.{{/acceptedIntegration}}
            {{^acceptedIntegration}}.{{/acceptedIntegration}}
        </div>
    </div>
    <div class="action-btn-master-container">

        {{^showAccepted}}
        {{^showRejected}}
        <div class="action-btn-container">
            {{#showNegativeBtn}}
            <div class="action-btn" id="reject">No thanks</div>
            {{/showNegativeBtn}}
            <div class="action-btn" id="accept">{{positiveBtnText}}</div>
        </div>
        {{/showRejected}}
        {{/showAccepted}}

        {{#showAccepted}}
        <div class="accepted-view"><i class="fa fa-check"></i>{{acceptedText}}</div>
        {{/showAccepted}}

        {{#showRejected}}
        <div class="rejected-view"><i class="fa fa-check"></i>Ignored</div>
        {{/showRejected}}

    </div>
</div>