<div class="add-project-details-view {{#isSafari}}safari{{/isSafari}}">
    <div class="add-project-details-scroll-container">
        <div class="add-project-details-inside-container">
            {{^showProjectCreationError}}
            {{^showCreatingProjectView}}
            {{#showReposView}}
            <div id="reposView"></div>
            {{/showReposView}}
            <div id="detailsView"></div>
            {{/showCreatingProjectView}}
            {{/showProjectCreationError}}
            {{#showCreatingProjectView}}
            <div id="creatingProjectView"></div>
            {{/showCreatingProjectView}}
            {{#showProjectCreationError}}
            <div id="projectCreationError"></div>
            {{/showProjectCreationError}}
        </div>
    </div>
</div>