<div class="modal-header">
    <div id="createProjectBreadCrumbView"></div>
</div>
<div class="modal-body" id="createNewProjectModalBody">
    <div id="popup-owl" class="owl-carousel">
        <div id="newProjectPanel1"></div>
        <div id="newProjectPanel2"></div>
        <div id="newProjectPanel3"></div>
    </div>
</div>
<div class="modal-footer">
    <div class="fake-top-border"></div>
    <div class="bottom-nav-back" hidden>Back</div>
    <div class="bottom-nav-next" hidden>Next</div>
    <div class="bottom-nav-create-btn" hidden>Create</div>
    <div class="create-project-confirm-message" hidden><i class="fa fa-times-circle"></i>&nbsp;&nbsp;Are you sure?</div>
</div>