<div class="select-project-source-view">
    <div class="select-project-source-text">Would you like to import a project or create one from scratch?</div>
    <div class="project-source-selection-container">
        <div class="project-source-selection {{#ghSelected}}selected{{/ghSelected}}" data-source="gh">
            <div class="create-project-icon"></div>
            <div class="project-source-selection-text">Import from Github</div>
        </div>
        <div class="project-source-selection {{#scratchSelected}}selected{{/scratchSelected}}" data-source="scratch">
            <div class="create-project-icon"></div>
            <div class="project-source-selection-text">Create from Scratch</div>
        </div>
    </div>
</div>
