<div class="select-project-stage-view">
    <div class="select-project-stage-text">At what stage is your project?</div>
    <div class="project-stage-selection-container">
        <div class="project-stage-selection {{#ideaSelected}}selected{{/ideaSelected}}" data-stage="ideas">
            <div class="create-project-icon"></div>
            <div class="project-stage-selection-text">Idea</div>
        </div>
        <div class="project-stage-selection {{#launchedSelected}}selected{{/launchedSelected}}" data-stage="launched">
            <div class="create-project-icon"></div>
            <div class="project-stage-selection-text">Launched</div>
        </div>
    </div>
</div>