<div class="select-ufg-view">
    <div class="select-ufg-text">Will this idea be up for grabs?</div>
    <div class="select-ufg-container">
        <div class="select-ufg-icon-container">
            <div class="ufg-icon"></div>
        </div>
        <div class="select-ufg-choice-container">
            <div class="ufg-choice-container">
                <div class="ufg-choice {{#upForGrabsYes}}selected{{/upForGrabsYes}}" data-ufg="yes">Yes</div>
                <div class="ufg-choice-explanation yes">I currently don't have time to start/maintain this project, but others are encouraged to take this idea and run with it.</div>
            </div>
            <div class="ufg-choice-container">
                <div class="ufg-choice {{#upForGrabsNo}}selected{{/upForGrabsNo}}" data-ufg="no">No</div>
                <div class="ufg-choice-explanation no">I plan on serving as a maintainer of this project as it evolves.</div>
            </div>
        </div>
    </div>
</div>
