<div class="communication-tabs-container">
    <ul class="tabs communication-panels-ul">
        <li class="tab communication-tab">
            <a index="0" class="{{#generalActive}}active{{/generalActive}}">General</a>
        </li>
        <li class="tab communication-tab">
            <a index="1" class="{{#suggestionsActive}}active{{/suggestionsActive}}">Feature Suggestions</a>
        </li>
        {{#showTeam}}
        <li class="tab communication-tab">
            <a index="2" class="{{#teamActive}}active{{/teamActive}}">Team</a>
        </li>
        {{/showTeam}}
        {{#showAdmin}}
        <li class="tab communication-tab">
            <a index="3" class="{{#adminActive}}active{{/adminActive}}">Admin</a>
        </li>
        {{/showAdmin}}
    </ul>
</div>
<div id="communicationFeedContainer">{{#generalActive}}
    <div id="generalFeedContainerView"></div>{{/generalActive}}{{
    }}{{#suggestionsActive}}<div id="suggestionsFeedContainerView"></div>{{/suggestionsActive}}{{
    }}{{#teamActive}}<div id="teamFeedContainerView"></div>{{/teamActive}}{{
    }}{{#adminActive}}<div id="adminFeedContainerView"></div>{{/adminActive}}
</div>