<div class="communication-tabs-container">
    <div index="0" class="communication-tab {{#generalActive}}active{{/generalActive}}">General</div>{{
    }}<div index="1" class="communication-tab {{#suggestionsActive}}active{{/suggestionsActive}}">Feature Suggestions</div>{{
    }}{{#showTeam}}<div index="2" class="communication-tab {{#teamActive}}active{{/teamActive}}">Team</div>{{/showTeam}}{{
    }}{{#showAdmin}}<div index="3" class="communication-tab {{#adminActive}}active{{/adminActive}}">Admin</div>{{/showAdmin}}
</div>
<div id="communicationFeedContainer">{{#generalActive}}
    <div id="generalFeedContainerView"></div>{{/generalActive}}{{
    }}{{#suggestionsActive}}<div id="suggestionsFeedContainerView"></div>{{/suggestionsActive}}{{
    }}{{#teamActive}}<div id="teamFeedContainerView"></div>{{/teamActive}}{{
    }}{{#adminActive}}<div id="adminFeedContainerView"></div>{{/adminActive}}
</div>