<div class="major-info-container-view {{#isSafari}}safari{{/isSafari}}">
    <div class="title-action-container">
        <div class="major-info-project-title {{#editMode}}edit{{/editMode}}">
            {{^editMode}}
            <div class="star {{#starred}}starred{{/starred}}">
                <i class="fa {{#starred}}fa-star{{/starred}} {{^starred}}fa-star-o{{/starred}}"></i>
            </div>
            <span class="project-title-span">{{title}}</span>
            {{/editMode}}
            {{#editMode}}
            <div class="no-title-error">* Please enter a project title</div>
            <input type="text" name="edit-title" placeholder="Title" value="{{title}}"/>
            {{/editMode}}
        </div>{{
        }}<div class="project-action-container {{#editMode}}edit{{/editMode}}">
            <div class="join-btn {{majorActionBtnClass}}">{{{majorActionBtnText}}}</div>{{
            }}{{^editMode}}<div class="project-page-vote-container {{#voted}}voted{{/voted}}">
                <div class="new-vote-count-container">
                    <i class="fa fa-caret-up"></i><br><span>{{voteCount}}</span>
                </div>
            </div>
            <div class="share-icons-container">
                <div class="share-icon" id="hackerNews" data-toggle="tooltip" data-placement="top" title="Hacker News"><img src="http://sourcehoney.s3-website-us-west-1.amazonaws.com/images/y-combinator.svg"/></div>
                <div class="share-icon" id="reddit"  data-toggle="tooltip" data-placement="top" title="Reddit"><img src="http://sourcehoney.s3-website-us-west-1.amazonaws.com/images/reddit-alien.png" /></div>
                <div class="share-icon {{#isFirefox}}firefox{{/isFirefox}}" id="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></div>
            </div>
            {{#isAdmin}}
            <div class="admin-action-container">
                {{#isOwner}}<div class="delete-btn"><i class="fa fa-trash"></i></div>{{/isOwner}}
                <div class="edit-btn"><i class="fa fa-pencil-square-o"></i></div>
                {{#isOwner}}{{#otf}}<div class="launch-btn">Launch Project</div>{{/otf}}{{/isOwner}}
            </div>
            {{/isAdmin}}
            {{/editMode}}
            {{#editMode}}
            <div class="cancel-edit-mode">Cancel</div>
            {{/editMode}}
        </div>
    </div>
    {{^editMode}}
    {{#hasTags}}
    <div class="major-info-tag-container"></div>
    {{/hasTags}}
    {{/editMode}}
    {{#editMode}}
    <select id="editLangFrames" placeholder="Languages and frameworks"></select>
    {{/editMode}}
    <div class="major-info-project-subtitle {{^editMode}}hide-overflow{{/editMode}}">
        {{^editMode}}
        {{subtitle}}
        {{/editMode}}
        {{#editMode}}
        <div class="no-subtitle-error">* Please enter a short description for this project</div>
        <input type="text" name="edit-subtitle" placeholder="Subtitle" value="{{subtitle}}"/>
        {{/editMode}}
    </div>
    <div class="major-info-project-description {{^hasTags}}no-tags{{/hasTags}}">
        {{^editMode}}
        <p>{{description}}</p><a class="see-all-description">See All</a>
        <p class="none">No Description</p>
        {{/editMode}}
        {{#editMode}}
        <textarea class="edit-description" placeholder="Description">{{description}}</textarea>
        {{/editMode}}
    </div>
    {{#editMode}}
    <div class="edit-privacy">
        <span class="edit-mode-info-label major-info">Privacy:</span><input type="checkbox" name="privacy-edit" {{#open}}checked{{/open}}>
    </div>
    <div class="edit-anon">
        <span class="edit-mode-info-label major-info">Anonymous:</span><input type="checkbox" name="anon-edit" {{#anon}}checked{{/anon}}>
    </div>
    {{/editMode}}
</div>
