<div class="span12">
    <div class="login-message">You must be logged in to comment on posts</div>
    <div class="gh-login" name="gh-login" style="width: 175px; background-color: gray; color: white; cursor: pointer;">Connect with Github</div>
    <button>Close</button>
</div>










<!--<div class="span12" style="margin-left: 530px;">-->
    <!--<h1>Sign Up</h1>-->
    <!--<div class="username-container" style="padding: 10px;">-->
        <!--<input type="text" name="username" placeholder="username"/>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="gh-username-container" style="padding: 10px;">&ndash;&gt;-->
        <!--&lt;!&ndash;<input type="text" name="gh_username" placeholder="Github username (Encouraged)"/>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="new-email-container" style="padding: 10px;">-->
        <!--<input type="text" name="new-email" placeholder="email"/>-->
    <!--</div>-->
    <!--<div class="new-password-container" style="padding: 10px;">-->
        <!--<input type="password" name="new-password" placeholder="password"/>-->
    <!--</div>-->
    <!--<div class="retype-password-container" style="padding: 10px;">-->
        <!--<input type="password" name="retype-password" placeholder="Retype password"/>-->
    <!--</div>-->
    <!--<div class="signup-submit-container" style="padding: 10px;">-->
        <!--<input class="signup-btn" style="margin-left: 45px;" type="submit" value="Sign Up"/>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div class="connectGH" name="gh-signup" style="width: 175px; background-color: gray; color: white; cursor: pointer;">Log In with Github</div>&ndash;&gt;-->
<!--</div>-->

<!--<div class="span12" style="margin-left: 530px;">-->
    <!--<h1>Log In</h1>-->
    <!--<div class="username_or_email_container" style="padding: 10px;">-->
        <!--<input type="text" name="username_or_email" placeholder="username or email"/>-->
    <!--</div>-->
    <!--<div class="password-container" style="padding: 10px;">-->
        <!--<input type="password" name="password" placeholder="password"/>-->
    <!--</div>-->
    <!--<div class="login-submit-container" style="padding: 10px;">-->
        <!--<input class="login-btn" style="margin-left: 45px;" type="submit" value="Log In"/>-->
    <!--</div>-->
    <!--<div class="connectGH" name="gh-login" style="width: 175px; background-color: gray; color: white; cursor: pointer;">Log In with Github</div>-->
<!--</div>-->