<div class="major-info-container-view">
    <div class="title-action-container">
        <div class="major-info-project-title">
            {{^editMode}}
            <div class="star {{#starred}}starred{{/starred}}">
                <i class="fa {{#starred}}fa-star{{/starred}} {{^starred}}fa-star-o{{/starred}}"></i>
            </div>
            <span class="project-title-span">{{title}}</span>
            {{/editMode}}
            {{#editMode}}<input type="text" name="edit-title" value="{{title}}"/>{{/editMode}}
            <div class="major-info-project-type-divider {{#editMode}}edit{{/editMode}}"></div>
            {{^editMode}}
            <span class="major-info-project-type">{{projectType}}</span>
            {{/editMode}}
            {{#editMode}}
            <select id="projectTypeSelection">
                <option value="0">Up for Grabs</option>
                <option value="1">On the Fence</option>
                <option value="2">Launched</option>
            </select>
            <label for="projectTypeSelection"><i class="fa fa-caret-down"></i></label>
            {{/editMode}}
        </div>{{
        }}<div class="project-action-container">
            <div class="join-btn {{#editMode}}regular{{/editMode}}{{^editMode}}{{#isContributor}}contributor{{/isContributor}} {{#pendingProjectRequest}}pending{{/pendingProjectRequest}} {{^isContributor}}{{^pendingProjectRequest}}regular{{/pendingProjectRequest}}{{/isContributor}}{{/editMode}}">{{^editMode}}{{#isContributor}}<i class="fa fa-check"></i>On Project{{/isContributor}}{{#pendingProjectRequest}}Request Sent{{/pendingProjectRequest}}{{^isContributor}}{{^pendingProjectRequest}}{{#upForGrabsType}}Grab{{/upForGrabsType}}{{^upForGrabsType}}{{joinText}}{{/upForGrabsType}}{{/pendingProjectRequest}}{{/isContributor}}{{/editMode}}{{#editMode}}Save{{/editMode}}</div>{{
            }}{{^editMode}}<div class="project-page-vote-container {{#voted}}voted{{/voted}}">
                <div class="new-vote-count-container">
                    <i class="fa fa-caret-up"></i><br><span>{{voteCount}}</span>
                </div>
            </div>
            <div class="share-icons-container">
                <div class="share-icon" id="hackerNews" data-toggle="tooltip" data-placement="top" title="Hacker News"><img src="http://sourcehoney.s3-website-us-west-1.amazonaws.com/images/y-combinator.svg"/></div>
                <div class="share-icon" id="reddit"  data-toggle="tooltip" data-placement="top" title="Reddit"><img src="http://sourcehoney.s3-website-us-west-1.amazonaws.com/images/reddit-alien.png" /></div>
                <div class="share-icon" id="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></div>
                <div class="share-icon" id="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></div>
            </div>
            {{#isAdmin}}
            <div class="admin-action-container">
                {{#isOwner}}<div class="delete-btn"><i class="fa fa-trash"></i></div>{{/isOwner}}
                <div class="edit-btn"><i class="fa fa-pencil-square-o"></i></div>
                {{#isOwner}}{{#otf}}<div class="launch-btn">Launch Project</div>{{/otf}}{{/isOwner}}
            </div>
            {{/isAdmin}}
            {{/editMode}}
            {{#editMode}}
            <div class="cancel-edit-mode">Cancel</div>
            {{/editMode}}
        </div>
    </div>
    {{^editMode}}
    {{#hasTags}}
    <div class="major-info-tag-container"></div>
    {{/hasTags}}
    {{/editMode}}
    {{#editMode}}
    <select id="editLangFrames" placeholder="Languages and frameworks"></select>
    {{/editMode}}
    <div class="major-info-project-subtitle {{^editMode}}hide-overflow{{/editMode}}">{{^editMode}}{{subtitle}}{{/editMode}}{{#editMode}}<input type="text" name="edit-subtitle" value="{{subtitle}}"/>{{/editMode}}</div>
    <div class="major-info-project-description {{#editMode}}edit-mode{{/editMode}}">
        {{^editMode}}
        <p>{{description}}</p><a class="see-all-description">See All</a>
        <p class="none">No Description</p>
        {{/editMode}}
        {{#editMode}}
        <textarea class="edit-description" placeholder="Description">{{description}}</textarea>
        {{/editMode}}
    </div>

    {{#editMode}}
    <div class="edit-privacy">
        <span class="edit-mode-info-label major-info">Privacy:</span><input type="checkbox" name="privacy-edit" {{#open}}checked{{/open}}>
    </div>
    {{#upForGrabsType}}
    <div class="edit-anon">
        <span class="edit-mode-info-label major-info">Anonymous:</span><input type="checkbox" name="anon-edit" {{#anon}}checked{{/anon}}>
    </div>
    {{/upForGrabsType}}
    {{/editMode}}

</div>
