<div class="tutorial-bubble-container">
    <i class="fa fa-caret-up"></i>
    <div class="tutorial-item-content z-depth-1">
        <div class="tutorial-text">Login to get started!</div>
        <div class="login-item-action-btns">
            <div class="action-btn-container">
                <div class="action-btn" data-trigger="login">Let's do it</div>
            </div>
            <div class="action-btn-container">
                <div class="action-btn" data-trigger="ignore">Maybe later</div>
            </div>
        </div>
    </div>
</div>