<div class="footer-container">
    <div class="search-container">
        <span class="octicon octicon-search"></span>
        <select id="footerSelect" placeholder="Search filters"></select>
    </div>
    <div class="line-break"></div>
    <div class="filter-choice-container">
        <div class="choose"><i class="material-icons">add</i>Choose Filter</div>
        <div class="btn-container">
            <div id="langFilterChoice">Languages</div>
            <div id="licenseFilterChoice">License</div>
        </div>
    </div>
</div>