<div class="footer-container {{#isSafari}}safari{{/isSafari}}">
    <div class="search-container {{#isSafari}}safari{{/isSafari}}">
        <span class="octicon octicon-search"></span>
        <select id="footerSelect" placeholder="Search filters"></select>
    </div>
    <div class="line-break"></div>
    <div class="filter-choice-container">
        <div class="choose"><i class="material-icons">add</i><span>Choose Filter</span></div>
        <div class="btn-container {{#isSafari}}safari{{/isSafari}}" id="filterChoices">
            <div class="footer-filter-btn" id="langFilterChoice">Language</div>{{
            }}<div class="footer-filter-btn" id="licenseFilterChoice">License</div>{{
            }}<div class="footer-filter-btn" id="chatFilterChoice">Team Chat</div>
        </div>
        <div class="more-filters-btn"></div>
        <div id="moreFiltersDropUp" hidden></div>
    </div>
</div>