<div class="rules-text">
    <div class="rule first">
        <div class="rule-text">
            <div class="num">1.</div>
            <div class="text">When posting a project, please give it the appropriate tags <span class="rule-bold">(languages, frameworks, domains, seeking, etc)</span>, whether they're already implemented or simply being proposed. This will help everyone get the most out of filtered searching.</div>
        </div>
    </div>
    <div class="rule not-first">
        <div class="rule-text">
            <div class="num">2.</div>
            <div class="text">When posting an idea as <span class="rule-bold">Up for Grabs</span>, I understand that my idea is being placed in the hands of the community, which gives any member permission to grab the proposed project and run with it.</div>
        </div>
    </div>
    <div class="rule not-first">
        <div class="rule-text">
            <div class="num">3.</div>
            <div class="text">If you have a suggestion for the site, <span class="link-to-suggestions">send it to us!</span> We're very open to feedback and want to ensure that Sourcehoney is properly tailored to the community.</div>
        </div>
    </div>
</div>