<div class="rules-text">
    <div class="rule first">
        <div class="rule-text">
            <div class="num">1.</div>
            <div class="text">Which feed should I post to?</div>
        </div>
        <div class="project-type-rule-container">
            <div class="project-type-name first">Up for Grabs<span>show scenarios</span></div>
            <div class="project-type-explanation" data-project-type="up-for-grabs">
                <div class="scenario"><i class="fa fa-circle"></i><span>I know of something that would better the OSS community, but I know I don't have enough time to actually build it.</span></div>
                <div class="scenario"><i class="fa fa-circle"></i><span>I'm looking to step down as the maintainer of a project.</span></div>
            </div>
            <div class="project-type-name">On the Fence<span>show scenarios</span></div>
            <div class="project-type-explanation" data-project-type="on-the-fence">
                <div class="scenario"><i class="fa fa-circle"></i><span>I have an idea for a project, so I'm looking for...</span></div>
                <div class="sub-scenario">-&nbsp;&nbsp;feedback from the community about its potential.</div>
                <div class="sub-scenario">-&nbsp;&nbsp;others interested in teaming up with me to work on it.</div>
            </div>
            <div class="project-type-name">Launched<span>show scenarios</span></div>
            <div class="project-type-explanation" data-project-type="launched">
                <div class="scenario"><i class="fa fa-circle"></i><span>I'm currently maintaining a project, and I'm looking to promote it and/or find more contributors.</span></div>
            </div>
        </div>
    </div>
    <div class="rule not-first">
        <div class="rule-text">
            <div class="num">2.</div>
            <div class="text">When posting a project, please tag it with the appropriate languages and frameworks, whether they're already implemented or simply being proposed. This will help everyone get the most out of filtered searching.</div>
        </div>
    </div>
    <div class="rule not-first">
        <div class="rule-text">
            <div class="num">3.</div>
            <div class="text">When posting in Up for Grabs, I understand that my idea is being placed in the hands of the community, which gives any member permission to "Grab" the proposed project and run with it.</div>
        </div>
    </div>
</div>
