<div class="bubble-container">
    <div class="bubble-content-container z-depth-1">
        <div class="user-bubble-pic-container">
            <a href="{{ghProfile}}" target="_blank"><img class="user-bubble-pic" src="{{userPic}}"/></a>
        </div>
        <div class="user-bubble-gh-username-container">
            {{#showLink}}
            <a href="{{ghProfile}}" target="_blank">{{ghUsername}}</a>
            {{/showLink}}
            {{^showLink}}
            <p>No Github Profile</p>
            {{/showLink}}
        </div>
    </div>
    <i class="fa fa-caret-down"></i>
</div>