<div class="home-body span12">
    <div class="project-type-nav">
        <div class="project-type-container">
            <ul class="tabs project-type">
                <li class="tab project-type">
                    <a href="/#ideas" class="{{#upForGrabsActive}}active{{/upForGrabsActive}}">Ideas</a>
                    <div id="ufg-tutorial-anchor" class="tutorial-anchor" hidden></div>
                </li>
                <li class="tab project-type">
                    <a href="/#launched" class="{{#launchedActive}}active{{/launchedActive}}">Launched</a>
                    <div id="launched-tutorial-anchor" class="tutorial-anchor" hidden></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-body-container">
        <div id="project-feed"></div>
    </div>
</div>