<div class="filters-container span12" style="height: 50px; margin-top: 80px; padding-left:400px;" hidden>
    <select id="filters-license-dropdown" placeholder="License"></select>
    <input id="filters-anon-checkbox" type="checkbox" name="Anonymous"/>Anonymous Only
    <select id="filters-privacy-dropdown" placeholder="Privacy"></select>
    <div id="submit-filters">Update Feed</div>
    <div id="launchProject">Launch Project</div>
    <a href="https://github.com/login/oauth/authorize?client_id=bfdb73ed12138dddbfcc&redirect_uri=http://localhost:3000&scope=public_repo">Login with GH</a>
</div>
<div class="home-body span12">
    <div class="project-type-nav">
        <div class="project-type-container">
            <ul class="tabs project-type">
                <li class="tab project-type"><a href="/#up-for-grabs">Up for Grabs</a></li>
                <li class="tab project-type"><a href="/#on-the-fence" class="active">On the Fence</a></li>
                <li class="tab project-type"><a href="/#launched">On the Fence</a></li>
            </ul>

            <!--<a href="/#up-for-grabs"><div id="up-for-grabs" class="project-type">Up for Grabs</div></a>{{-->
            <!--}}<a href="/#on-the-fence"><div id="on-the-fence" class="project-type">On the Fence</div></a>{{-->
            <!--}}<a href="/#launched"><div id="launched" class="project-type">Launched</div></a>-->
        </div>
        <!--<div class="tab-slider"></div>-->
    </div>
    <div id="project-feed"></div>
    <div class="filters-container">
        <select id="filters-langs-frames" placeholder="Languages and frameworks"></select>
    </div>
    <div id="langSelectionListContainer"></div>
    <div id="nonLangFiltersContainer"></div>
</div>