<div id="nonLangFiltersMaster">
    <div id="licenseFilterContainer">
        <p class="nonLangFilterHeader">License</p>
        <div class="licenseFilters">
            <div class="licenseFilterBtn" id="mit"><i class="fa fa-circle" hidden></i><p>MIT</p></div>
            <div class="licenseFilterBtn" id="gpl"><i class="fa fa-circle" hidden></i><p>GPL</p></div>
            <div class="licenseFilterBtn" id="bsd"><i class="fa fa-circle" hidden></i><p>BSD</p></div>
        </div>
    </div>
    <div id="privacyFilterContainer">
        <p class="nonLangFilterHeader">Privacy</p>
        <div class="privacyFilters">
            <div class="privacyFilterBtn" id="request"><i class="fa fa-circle"></i><p>Request to Join</p></div>
            <div class="privacyFilterBtn" id="open"><i class="fa fa-circle"></i><p>Open</p></div>
        </div>
    </div>
</div>