<div id="nonLangFiltersMaster">
    <div id="licenseFilterContainer">
        <p class="nonLangFilterHeader">License</p>
        <div class="licenseFilters">
            <div class="licenseFilterBtn" id="MIT"><i class="fa fa-circle" hidden></i><p>MIT</p></div>
            <div class="licenseFilterBtn" id="GPL"><i class="fa fa-circle" hidden></i><p>GPL</p></div>
            <div class="licenseFilterBtn" id="BSD"><i class="fa fa-circle" hidden></i><p>BSD</p></div>
        </div>
    </div>

    <div id="privacyFilterContainer">
        <p class="nonLangFilterHeader">Privacy</p>
        <div class="privacyFilters">
            <div class="privacyFilterBtn" id="request"><i class="fa fa-circle"></i><p>Request to Join</p></div>
            <div class="privacyFilterBtn" id="open"><i class="fa fa-circle"></i><p>Open</p></div>
        </div>
    </div>
    <div id="anonFilterContainer" hidden>
        <p class="nonLangFilterHeader">Anonymous</p>
        <div class="anonFilters">
            <div class="anonFilterBtn" id="anonYes"><i class="fa fa-circle"></i><p>Yes</p></div>
            <div class="anonFilterBtn" id="anonNo"><i class="fa fa-circle"></i><p>No</p></div>
        </div>
    </div>
</div>
<!--<div id="clearNonLangFiltersBtnContainer">-->
    <!--<div id="clearNonLangFiltersBtn">Clear All</div>-->
<!--</div>-->