<div class="project-post-view span12">
    <div class="vote-master-container {{#voted}}voted{{/voted}}">
        <div class="new-vote-count-container">
            <i class="fa fa-caret-up"></i><br><span>{{vote_count}}</span>
        </div>
    </div>{{
    }}<div class="title-subtitle-tag-container">
        <div class="title-container {{^hasTags}}no-tags{{/hasTags}}"><span>{{title}}</span></div>
        <div class="subtitle-container"><span class="project-post-subtitle-text">{{subtitle}}</span></div>
        <div class="tag-containers {{#hasDomain}}has-domain{{/hasDomain}}">
            {{#hasDomain}}
            <div class="domain-tags">{{domainTags}}</div>
            <div class="line-break"></div>
            {{/hasDomain}}
            <div class="tag-container"></div>
        </div>
    </div>{{
    }}<div class="project-extra-details-container">
        <div class="date">{{date}}</div>
        <div class="project-post-details-container">
            <div class="project-post-comments-container">
                <div class="project-post-comments">
                    <img id="projectPostCommentIcon" src="http://sourcehoney.s3-website-us-west-1.amazonaws.com/images/bubble.png"/>&nbsp;&nbsp;<span class="project-post-num-comments">{{commentCount}}</span>
                </div>
            </div>
            {{#isIdea}}
            <div class="project-post-contributors-container">
                <div class="project-post-contributors">
                    <img id="projectPostUserIcon" src="http://sourcehoney.s3-website-us-west-1.amazonaws.com/images/user.png"/>&nbsp;&nbsp;<span class="project-post-num-contributors">{{contributorCount}}</span>
                </div>
            </div>
            {{/isIdea}}
            <div class="project-post-user-container">
                <img class="project-post-user-pic" src="{{userPic}}"/>
                <div class="user-info-bubble" hidden></div>
            </div>
        </div>
        <div class="post-seeking-container">
            {{#hasSeeking}}
            <div class="seeking">{{seeking}}</div>
            <span class="octicon octicon-search"></span>
            {{/hasSeeking}}
        </div>
    </div>
</div>