<div class="project-post-view span12">
    <div class="vote-master-container">
        <div class="arrow-container">
            <div class="arrow">
                <i class="fa fa-angle-up"></i>
            </div>
        </div>
        <div class="vote-count-container">{{vote_count}}</div>
    </div>{{
    }}<div class="title-tag-container">
        <div class="title-container"><span class="project-post-title-text">{{title}}</span></div>
        <div class="tag-container"></div>
    </div>{{
    }}<div class="project-extra-details-container">
        {{#upForGrabsType}}
        <div class="grab-btn">+</div>
        {{/upForGrabsType}}
        {{#searchResult}}
        <div class="project-status-container">
            <div class="project-status">{{projectType}}</div>
        </div>
        {{/searchResult}}
        <div class="main-three-details-container {{^searchResult}}main-three-no-search-result{{/searchResult}}">
            <div class="main-three-sub-container {{#upForGrabsType}}main-three-sub-container-no-contrib{{/upForGrabsType}}">
                <div class="project-post-user-container {{#upForGrabsType}}only-two-of-main-three{{/upForGrabsType}}">
                    <img data-toggle="tooltip" data-placement="top" title="Go Tooltips!" class="project-post-user-pic {{#upForGrabsType}}user-pic-no-contrib{{/upForGrabsType}}" src="https://avatars.githubusercontent.com/u/6496306?v=3"/>
                </div>
                {{^upForGrabsType}}
                <div class="project-post-contributors-container">
                    <div class="project-post-contributors">
                        <i class="fa fa-user"></i>&nbsp;&nbsp;<span class="project-post-num-contributors">{{contributorCount}}</span>
                    </div>
                </div>
                {{/upForGrabsType}}
                <div class="project-post-comments-container {{#upForGrabsType}}only-two-of-main-three{{/upForGrabsType}}">
                    <div class="project-post-comments">
                        <i class="fa fa-comment"></i>&nbsp;&nbsp;<span class="project-post-num-comments">{{commentCount}}</span>
                    </div>
                </div>
            </div>
            <div class="post-license-privacy-container">
                <div class="project-post-license-container">
                    <div class="project-post-license">{{license}}</div>
                </div>{{
                }}<div class="project-post-privacy-container">
                    <div class="project-post-privacy">
                        {{#requestToJoin}}<i class="fa fa-lock"></i>{{/requestToJoin}}
                        {{#open}}<i class="fa fa-users"></i>{{/open}}
                    </div>
                </div>
            </div>
        </div>
        <div class="user-info-bubble"></div>
    </div>
</div>