<div class="create-project-modal-header-container">
    <div class="create-project-breadcrumb {{#breadCrumb1Clickable}}breadcrumb-clickable{{/breadCrumb1Clickable}} {{#breadCrumb1Done}}breadcrumb-done{{/breadCrumb1Done}}" id="type-panel">Type</div>{{
    }}<div class="create-project-breadcrumb {{#breadCrumb2Clickable}}breadcrumb-clickable{{/breadCrumb2Clickable}} {{#breadCrumb2Done}}breadcrumb-done{{/breadCrumb2Done}}" id="source-panel">Source</div>{{
    }}<div class="create-project-breadcrumb {{#breadCrumb3Clickable}}breadcrumb-clickable{{/breadCrumb3Clickable}} {{#breadCrumb3Done}}breadcrumb-done{{/breadCrumb3Done}}" id="data-panel">Info</div>
</div>