<div class="select-project-type-view">
    <div class="select-project-type-text">Select your project type</div>
    <div class="project-type-selection-container">
        <div class="project-type-selection {{#upForGrabsSelected}}selected-type{{/upForGrabsSelected}}" id="up-for-grabs">
            <div class="project-type-selection-text">Up for Grabs</div>
        </div>{{
        }}<div class="project-type-selection {{#onTheFenceSelected}}selected-type{{/onTheFenceSelected}}" id="on-the-fence">
        <div class="project-type-selection-text">On the Fence</div>
    </div>{{
        }}<div class="project-type-selection {{#launchedSelected}}selected-type{{/launchedSelected}}" id="launched">
        <div class="project-type-selection-text">Launched</div>
    </div>
    </div>
</div>