<div class="select-project-type-view">
    <div class="select-project-type-text">At what stage is your project?</div>
    <div class="project-type-selection-container only-two-choices">
        <div class="project-type-selection {{#ideaSelected}}selected-type{{/ideaSelected}} only-two-choices" data-project-type-index="idea">
            <div class="create-project-icon"></div>
            <div class="project-type-selection-text">On the Fence</div>
        </div>{{
        }}<div class="project-type-selection {{#launchedSelected}}selected-type{{/launchedSelected}} only-two-choices" data-project-type-index="launched">
            <div class="create-project-icon"></div>
            <div class="project-type-selection-text">Launched</div>
        </div>
    </div>
</div>