<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="header-text">Login</div>
</div>
<div class="login-modal-body {{#noMessage}}no-message{{/noMessage}}">
    {{^noMessage}}
    <div class="login-message">{{message}}</div>
    {{/noMessage}}
    <div class="gh-login-btn {{#noMessage}}no-message{{/noMessage}}"><span class="octicon octicon-mark-github"></span><span class="btn-text">Connect with GitHub</span></div>
    <div class="permissions {{#noMessage}}no-message{{/noMessage}}">(only your public profile and email)</div>
</div>