<div class="list-container">
    <div class="my-projects-type-title-container">
        <div class="my-projects-type-title">My Projects</div>{{
        }}<div class="line-break"></div>
    </div>
    <ul id="owned-projects-list"></ul>
</div>
<div class="list-container">
    <div class="my-projects-type-title-container">
        <div class="my-projects-type-title">Other Projects I Contribute To</div>{{
        }}<div class="line-break"></div>
    </div>
    <ul id="contributing-projects-list"></ul>
    <div class="no-others-exist" hidden>No projects</div>
</div>