<div class="modal fade" id="aboutModalView" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="aboutModalContentContainer">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="header-text">About</div>
            </div>
            <div class="about-modal-body">
                <div id="aboutContentView"></div>
            </div>
        </div>
    </div>
</div>