<div class="modal fade" id="inviteMembersModalView" tabindex="-1" role="dialog" aria-labelledby="inviteMembersModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="inviteMembersModalContentContainer">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="header-text">Invite Members</div>
            </div>
            <div class="invite-members-modal-body">
                <div id="inviteMembersContentView"></div>
            </div>
        </div>
    </div>
</div>