
#popup-owl {
  width: 100%;
}

.select-project-type-view {
  width: 100%;
  position: relative;
}

.select-project-source-view {
  width: 100%;
  position: relative;
}

.add-project-details-view {
  width: 100%;
  position: relative;
}

.project-source-selection-container,
.project-type-selection-container {
  width: 100%;
  position: absolute;
  top: 100px;
  height: 200px;
  display: block;
}

.project-source-selection,
.project-type-selection {
  display: inline-block;
  height: 200px;
  width: 33.33%;
  cursor: pointer;
}

#gh {
}

#scratch {
}

#pull-from-ideas {
}

.project-source-selection-text,
.project-type-selection-text {
  height: 50px;
  width: 100%;
  color: black;
  text-align: center;
  line-height: 50px;
  font-family: 'Helvetica Neue';
  font-size: 16px;
  position: relative;
  top: 150px;
}

.select-project-source-text,
.select-project-type-text{
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: absolute;
  top: 30px;
  color: black;
  text-align: center;
  font-family: 'Helvetica Neue';
  font-size: 13px;
}

#up-for-grabs {
}

#on-the-fence {
}

#launched {
}

.no-pull-from-ideas {
  width: 50%;
}

.up-for-grabs-type-selected {
  width: 100%;
}

.modal-footer {
  height: 80px !important;
  padding-top: 0 !important;
  border-top: none !important;
}

.bottom-nav-back,
.bottom-nav-next {
  width: 100px;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  color: white;
  background-color: lightgray;
  font-size: 20px;
  font-family: 'Helvetica Neue';
  text-align: center;
  margin-top: 17.5px;
  cursor: pointer;
  opacity: 0;
}

.bottom-nav-back {
  float: left;
  margin-left: 17.5px;
}

.bottom-nav-next {
  float: right;
  margin-right: 17.5px;
}

.selected-type > div.project-type-selection-text {
  color: blue;
}

.selected-source > div.project-source-selection-text {
  color: blue;
}

.modal-header {
  padding: 0 !important;
}

.create-project-modal-header-container {
  width: 90%;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}

.create-project-breadcrumb {
  width: 33.33%;
  height: 56px;
  display: inline-block;
}

#type-panel,
#source-panel,
#data-panel{
  line-height: 56px;
  text-align: center;
  font-size: 21px;
  font-family: 'Helvetica Neue';
}

.breadcrumb-clickable {
  cursor: pointer;
  color: blue;
}

.breadcrumb-done {
  color: green;
}


.add-project-details-scroll-container {
  width: 100%;
  height: 370px;
  overflow: scroll;
}

.add-project-details-inside-container {
  width: 100%;
  height: auto;
}

.add-project-title-container {
  width: 100%;
  height: 40px;
}

input[name="add-project-title"] {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 35px;
  padding: 6px;
  font-size: 14px;
  font-family: 'Helvetica Neue'
}

.add-project-description-container {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

textarea[name="add-project-description"] {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 60px;
  padding: 6px;
  font-size: 14px;
  font-family: 'Helvetica Neue';
  resize: none;
}

.add-project-langs-frames-container {

}

#add-project-langs-frames-selection {

}

.add-project-gh-repo-list{
  height: 370px;
  width: 100%;
  overflow: scroll;
}

#addNewProjectRepoList {
  width: 100%;
  heigth: auto;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.repo-list-item {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 14px;
  color: black;
  border-bottom: 1px solid lightgray;
  font-family: 'Helvetica Neue';
  cursor: pointer;
}

#reposLoadingView {

}

.repos-loading-container {

}

.repos-loading-spinner {

}

.repos-loading-message {

}