
$post-gray: #B6B8C0;
$light-gray: #C4C5CA;


textarea {
  outline: none;
  box-shadow: none;
}

input {
  box-shadow: none;
  outline: none;
}

#createNewProjectModal {

  .modal-body {
    padding-top: 5px !important;
    padding-bottom: 0 !important;
  }

  .modal-header {
    border-bottom: none !important;
  }

  .modal-footer {
    height: 80px !important;
    padding-top: 0 !important;
    border-top: none !important;
    position: relative;
  }

}

#closeAddProjectBtn {
  position: absolute;
  top: 15px;
  right: 14px;
}

#popup-owl {
  width: 100%;
}

.select-project-stage-view,
.select-project-source-view
.select-ufg-view,
.add-project-details-view {
  width: 100%;
  position: relative;
}

.add-project-details-view.safari {
  input::-webkit-input-placeholder,
  .create-forum,
  .add-project-privacy-choice,
  .add-project-anon-choice,
  .add-project-send-invites-choice,
  .or {
    font-family: 'Proxima-Nova-SemiBold';
  }

  .forum-link-container {
    input {
      line-height: 18px !important;
    }
  }

  [name="add-project-repo-name"] {
    line-height: 18px !important;
    padding-top: 9px;
    padding-bottom: 8px;
  }
}

.project-source-selection-container,
.project-stage-selection-container,
.select-ufg-container {
  width: 100%;
  position: absolute;
  top: 130px;
  height: 200px;
  display: block;
}

.project-stage-selection-container,
.project-source-selection-container,
.select-ufg-container {
  margin-left: 10%;
}

.project-source-selection,
.project-stage-selection,
.select-ufg-icon-container,
.select-ufg-choice-container {
  display: inline-block;
  height: 200px;
  width: 40%;
  cursor: pointer;
  float: left;
  position: relative;
}

.select-ufg-icon-container,
.select-ufg-choice-container {
  cursor: default;
}

.ufg-choice-container {
  height: 50%;
  padding-top: 11px;
  position: relative;
  left: -20px;
}

.ufg-choice-container:last-child {
  padding-top: 21px;
}

.ufg-choice {
  text-align: center;
  -webkit-transition: all 150ms;
  -moz-transition: all 150ms;
  -ms-transition: all 150ms;
  -o-transition: all 150ms;
  transition: all 150ms;
  font-size: 18px;
  font-family: 'Proxima-Nova-SemiBold';
  cursor: pointer;
  border-radius: 50%;
  height: 80px;
  background-color: #F1F1F9;
  width: 80px;
  line-height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.ufg-choice:hover,
.ufg-choice.selected {
  background-color: #00A6C9;
  color: white;
}

.ufg-choice:active {
  background-color: #00B3D7;
}

.ufg-choice:hover + .ufg-choice-explanation {
  opacity: 1;
}

.ufg-choice-explanation {
  position: absolute;
  right: -75px;
  text-align: center;
  width: 165px;
  font-size: 11.5px;
  height: auto;
  opacity: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -ms-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}

.ufg-choice-explanation.yes {
  top: 18px;
}

.ufg-choice-explanation.no {
  top: 42px;
}

.project-source-selection {
  svg {
    height: 124px;
    margin-top: 17.5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.select-ufg-icon-container {
  svg {
    height: 200px;
    margin-top: 0;
    display: block;
    margin-left: 60px;
  }
}

.project-stage-selection {
  svg {
    height: 129px;
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

[data-stage="ideas"] {
  svg {
    height: 144px;
    margin-top: -2px;
  }

}

.project-source-selection-text,
.project-stage-selection-text {
  height: 40px;
  width: 100%;
  color: black;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  position: absolute;
  bottom: -9px;
  left: 0;
}

.select-project-source-text,
.select-project-stage-text,
.select-ufg-text {
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: absolute;
  top: 45px;
  color: black;
  text-align: center;
  font-size: 20px;
}

.fake-top-border {
  height: 1px;
  background-color: #EEE;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-nav-back,
.bottom-nav-next,
.bottom-nav-create-btn {
  width: 100px;
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  color: white;
  background-color: #C4C5CA;
  font-size: 20px;
  text-align: center;
  margin-top: 17.5px;
  cursor: pointer;
  opacity: 0;
}

.bottom-nav-back {
  float: left;
  margin-left: 17.5px;
}

.bottom-nav-next {
  float: right;
  margin-right: 17.5px;
}

.bottom-nav-create-btn {
  float: right;
  margin-right: 17.5px;
  background-color: #00A6C9;
}

.create-project-confirm-message {
  width: 130px;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  color: black;
  text-align: center;
  float: right;
  margin-right: 10px;
  margin-top: 19px;
  opacity: 0;

  .fa-times-circle {
    font-size: 18px;
    position: relative;
    top: 2px;
    cursor: pointer;
  }
}

.modal-header {
  padding: 0 !important;
}

.create-project-modal-header-container {
  width: 100%;
  height: 55px;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #00A6C9;

  .fa-check-circle {
    color: #00A6C9;
    font-size: 25px;
    position: relative;
    left: -20px;
    top: 3px;
  }

  .fa-check-circle.current {
    color: white;
  }

}

#createProjectBreadCrumbView {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.create-project-breadcrumb {
  width: 33.33%;
  height: 55px;
  display: inline-block;
  line-height: 53px;
  text-align: center;
  background-color: white;
  font-size: 18px;
  color: #00A6C9;
  border-top: 1px solid #00A6C9;
  border-bottom: 1px solid #00A6C9;
}

#modalCreateProject.safari {

  .create-project-breadcrumb {
    font-family: 'Proxima-Nova-SemiBold';
  }
}

.breadcrumb-clickable {
  cursor: pointer;
}

.breadcrumb-current {
  background-color: #00A6C9;
  color: white;
}

.step-inside-container {
  height: 55px;
  width: 100%;
  display: block;
}

.back-arrow-div {
  height: 0;
  width: 0;
  display: inline-block;
  border-top: 27.5px solid transparent;
  border-left: 16px solid #00A6C9;
  border-bottom: 27.5px solid transparent;
  float: left;
  z-index: 0;
}

.cover-arrow-div {
  height: 0;
  width: 0;
  display: inline-block;
  border-top: 26.5px solid transparent;
  border-left: 15px solid white;
  border-bottom: 26.5px solid transparent;
  float: left;
  position: relative;
  left: -16px;
  top: 1px;
  z-index: 1;
}

.selected-arrow-div {
  height: 0;
  width: 0;
  display: inline-block;
  border-top: 27.5px solid transparent;
  border-left: 16px solid #00A6C9;
  border-bottom: 27.5px solid transparent;
  float: left;
}

.title-div {
  height: 55px;
  width: 80%;
  display: inline-block;
}

#stage-panel {
  border-left: 1px solid #00A6C9;
  border-top-left-radius: 8px;
}

#data-panel {
  border-right: 1px solid #00A6C9;
  border-top-right-radius: 8px;
}

.add-project-details-scroll-container {
  width: 100%;
  height: 410px;
  overflow-y: auto;
  overflow-x: hidden !important;
}

.add-project-details-scroll-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.add-project-details-scroll-container::-webkit-scrollbar:vertical {
  width: 9px;
}

.add-project-details-scroll-container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: #DEDEE9
}

.add-project-details-scroll-container::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}

.add-project-details-inside-container {
  width: 97%;
  margin-left: 2.1%;
  margin-right: auto;
  height: auto;
}

.add-project-title-container,
.add-project-subtitle-container {
  width: 100%;
  height: 40px;
  margin-bottom: 6px;
  position: relative;
  
  .project-creation-validation-error {
    display: none;
    position: absolute;
    float: left;
    color: red;
    font-size: 12px;
    left: 2.5%;
    top: -21px;
  }
}

.add-project-title-container.error,
.add-project-subtitle-container.error {
  margin-top: 19px;

  .project-creation-validation-error {
    display: block;
  }
}


input[name="add-project-title"],
input[name="add-project-subtitle"] {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 35px;
  padding: 6px;
  font-size: 14px;
  border: 1px solid #C2C2CB;
  border-radius: 4px;
}

.add-project-description-container {
  width: 100%;
  height: auto;
  margin-bottom: 3px;
}

textarea[name="add-project-description"] {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 90px;
  padding: 6px;
  font-size: 14px;
  resize: none;
  border: 1px solid #C2C2CB;
  border-radius: 4px;
}

.add-project-gh-repo-list{
  width: 100%;
  margin-bottom: 15px;
}

#addNewProjectRepoList {
  width: 100%;
  heigth: auto;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  border-top: 1px solid #EEE;
}

#addNewProjectRepoList > li.selected {
  span {
    color: #00A6C9;
  }
}

.repo-list-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: black;
  padding-left: 5%;
  border-bottom: 1px solid #EEE;
  cursor: pointer;
}

.repo-list-item-text {
  padding-left: 15px;
}

#reposLoadingSpinner {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.repos-loading-message {
  width: 100%;
  margin-top: -50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  font-size: 17px;
}

.select-repo-message {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.enter-details-message {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
}

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #00A6C9;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}


#detailsView {
  padding-bottom: 20px;
  position: relative;

  .selectize-control.single,
  .selectize-control.multi {
    top: 19px;
  }

  .selectize-dropdown-content {
    max-height: 95px !important;

    div.active {
      background-color: #EEEFF3;
    }
  }
}

.loading-repo-view {
  width: 100%;
  height: 400px;
  z-index: 1;
  background-color: white;
  display: none;
  position: absolute;
  top: 0;

  #loadingRepoSpinner {
    width: auto;
    height: auto;
    margin-top: 105px;

    .sk-circle {
      margin: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .loading-repo-message {
    width: 100%;
    margin-top: 30px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: black;
    font-size: 17px;
  }

}

.hide-details {
  display: none;
}

.add-project-langs-frames-container,
.add-project-domains-container,
.add-project-seeking-container {
  min-height: 60px;

  .selectize-input {
    .item {
      border-radius: 6px;
      background-color: white !important;
      position: relative;
      top: -1px;
    }
  }
}

.add-project-langs-frames-container,
.add-project-domains-container,
.add-project-seeking-container,
.add-project-repo-name-container,
.send-invites-question-container,
.add-project-license-container,
.add-project-privacy-container,
.add-project-anon-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  display: block;
  position: relative;
}

.add-project-langs-frames-text,
.add-project-domains-text,
.add-project-seeking-text,
.add-project-repo-name-text,
.add-project-license-text,
.add-project-privacy-text,
.add-project-anon-text {
  height: 60px;
  display: inline-block;
  padding-top: 26px;
  padding-left: 5px;
  font-size: 14px;
  color: black;
  position: absolute;
  top: 0;
  left: 0;
}

.add-project-repo-name-text,
.add-project-license-text,
.add-project-langs-frames-text,
.add-project-domains-text,
.add-project-seeking-text {
  width: 52.5%;
}

.add-project-privacy-text,
.add-project-anon-text {
  width: 70%;
}

.add-project-langs-frames-selection-container,
.add-project-domains-selection-container,
.add-project-seeking-selection-container,
.add-project-repo-name-input-container,
.add-project-license-selection-container,
.add-project-privacy-choices,
.add-project-anon-choices {
  height: 60px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}



.add-project-repo-name-input-container,
.add-project-license-selection-container,
.add-project-langs-frames-selection-container,
.add-project-domains-selection-container,
.add-project-seeking-selection-container {
  width: 47.5%;
}

.add-project-privacy-choices,
.add-project-anon-choices {
  width: 30%;
}

input[name="add-project-repo-name"] {
  width: 100%;
  line-height: 31px;
  border-radius: 4px;
  border: 1px solid #C2C2CB;
  margin-top: 19px;
  padding-left: 6px;
  font-size: 13px;
}

.add-project-privacy-choice-container,
.add-project-anon-choice-container {
  width: 50%;
  display: inline-block;
  height: 60px;
}

.add-project-privacy-choice,
.add-project-anon-choice,
.add-project-send-invites-choice {
  height: 45px;
  margin-top: 15px;
  padding-top: 10px;
  width: 100%;
  text-align: center;
  color: #c4c5ca;
  font-size: 15px;
  background-color: white;
  cursor: pointer;
}

.add-project-privacy-choice.active-privacy,
.add-project-anon-choice.active-anon,
.add-project-send-invites-choice.active-send-invites {
  color: white;
  background-color: #00A6C9;
  border-color: #00A6C9 !important;
}

#add-project-privacy-request,
#add-project-anon-yes,
#add-project-send-invites-yes {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-left: 2px solid #c4c5ca;
  border-top: 2px solid #c4c5ca;
  border-bottom: 2px solid #c4c5ca;
}

#add-project-privacy-open,
#add-project-anon-no,
#add-project-send-invites-no {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right: 2px solid #c4c5ca;
  border-top: 2px solid #c4c5ca;
  border-bottom: 2px solid #c4c5ca;
}

#add-project-privacy-request.active-privacy,
#add-project-anon-yes.active-anon,
#add-project-send-invites-yes.active-send-invites {
  border-right: 2px solid #00A6C9;
}

#add-project-privacy-open.active-privacy,
#add-project-anon-no.active-anon
#add-project-send-invites-no.active-send-invites {
  border-left: 2px solid #00A6C9;
}

.fa-info-circle {
  color: #D1CFCF;
  font-size: 16px;
  margin-right: 6px;
}

.fa-info-circle:hover {
  color: #00A6C9;
}

#creatingProjectSpinner {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 42px;
}

.creating-project-message {
  width: 100%;
  margin-top: -50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  font-size: 17px;
}

.project-creation-error-message-container {

  width: 100%;
  margin-top: 130px;

  .fa-refresh {
    font-size: 50px;
    color: black;
  }

}

.project-creation-error-message {
  width: 100%;
  color: black;
  text-align: center;
  display: block;
  font-size: 15px;
  line-height: 25px;
  font-family: 'Lato';
}

.project-creation-error-retry-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 80px;
  height: auto;
  display: block;
  cursor: pointer;
}

.project-creation-error-retry-container:hover {

  .fa-refresh,
  .project-creation-error-retry-text {
    color: #00A6C9;
  }

}

.project-creation-error-retry-icon {
  width: 70px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  line-height: 70px;
}

.project-creation-error-retry-text {
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  color: black;
  width: 70px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.add-project-pull-from-ideas-container {
  width: 100%;
  display: block;
  position: relative;

  .octicon-search {
    position: absolute;
    left: 75px;
    top: 67px;
    font-size: 17px;
    color: $light-gray;
  }

  #pullFromIdeasSpinner {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
  }
}

.pull-from-ideas-header-text {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  color: black;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

#searchUpForGrabsInput {
  width: 82%;
  line-height: 36px;
  border-radius: 19px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  display: block;
  outline: 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: white;
  padding-left: 41px;
  color: $post-gray;
  padding-top: 3px;
}

#noUpForGrabsMessage {
  width: 100%;
  font-size: 14px;
  font-style: italic;
  color: #C4C5CA;
  text-align: center;
  position: absolute;
  top: 170px;
}

#pullFromIdeasSearchResults {
  width: 100%;
  height: 272px;
  overflow-y: auto;
  overflow-x: hidden !important;
  list-style-type: none;
  padding-left: 0;
}

#pullFromIdeasSearchResults > li {
  cursor: pointer;
}

#pullFromIdeasSearchResults > li:hover {
  background-color: #F4F6F8;
}

.pull-from-ideas-search-result-container {
  height: 50px;
  width: 100%;
  display: block;
  border-bottom: 1px solid #EEE;
  position: relative;
}

.pull-from-ideas-project-title {
  width: 84%;
  height: 50px;
  line-height: 50px;
  display: inline-block;
  padding-left: 3%;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  text-overflow: ellipsis;
}

.pull-from-ideas-user-pic-container {
  width: 10%;
  height: 50px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 3%;
}

.pull-from-ideas-user-pic {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  margin-top: 12.5px;
  float: right;
}

.add-implementation-integrations-container,
.add-project-integrations-container {
  width: 100%;
  padding-left: 2.5%;
  float: left;

  .question {
    height: 60px;
    float: left;
    width: 100%;
    padding-top: 26px;
    padding-left: 5px;
    font-size: 14px;
    color: black;
  }


  .integration-container {
    width: 100%;
    min-height: 75px;
    display: block;
    float: left;

    .logo-container {
      width: 45%;
      height: 100%;
      display: inline-block;
      float: left;

      #slack {
        width: 145px;
        margin-top: 9px;
      }

      #hipchat {
        width: 122px;
        margin-left: 16px;
        margin-top: 17px;
      }
    }

    .irc {
      width: 45%;
      height: 100%;
      display: inline-block;
      float: left;
      padding-top: 21px;
      padding-left: 20px;
      font-size: 34px;
      font-family: 'Proxima-Nova-SemiBold';
    }

    .forum-link-container {
      width: 35%;
    }

    #ircChannel {
      width: 35%;
    }

    #ircNetworkContainer {
      width: 19%;
      float: left;
      height: 100%;
      display: inline-block;
      padding-top: 25px;

      .selectize-control.single {
        top: 0;
      }
    }

    .forum-link-container,
    #ircChannel {
      height: 100%;
      display: inline-block;
      float: left;
      padding-top: 25px;

      input {
        height: 35px;
        line-height: 35px;
        width: 94.5%;
        padding: 6px;
        padding-left: 8px;
        padding-top: 7px;
        font-size: 14px;
        border: 1px solid #cecece;
        border-radius: 4px;
      }
    }

    .or {
      width: 5%;
      height: 100%;
      display: inline-block;
      float: left;
      padding-top: 35px;
      font-size: 12px;
      color: #c4c5ca;
    }

    .create-forum {
      width: 15%;
      height: 100%;
      display: inline-block;
      float: left;
      padding-top: 33.5px;
      font-size: 13px;

      a {
        color: #00A6C9;
        cursor: pointer;
      }
    }

  }

  #detailsViewIRCContainer {
    margin-top: -14px;
  }

}

.api-key-container {
  width: 100%;
  height: 0;
  display: block;
  overflow: hidden;
  float: left;

  .api-key-text {
    width: 45%;
    height: 50px;
    display: inline-block;
    float: left;
    font-size: 14px;
    color: black;
    padding-left: 20px;
    padding-top: 14px;
  }

  .api-key-input-container {
    width: 35%;
    height: 50px;
    display: inline-block;
    float: left;
    padding-top: 5px;

    input {
      height: 35px;
      line-height: 35px;
      width: 94.5%;
      padding: 6px;
      padding-left: 8px;
      padding-top: 7px;
      font-size: 14px;
      border: 1px solid #cecece;
      border-radius: 4px;
    }
  }

  .api-key-find {
    width: 10%;
    line-height: 46px;
    height: 50px;
    display: inline-block;
    float: left;
    text-align: center;
    color: #00A6C9;
    font-size: 13px;
  }

}

#slackIntegrationContainer {
  position: relative;

  #findAPIKeyBubble {
    width: 158px;
    height: 186px;
    position: absolute;
    top: -27px;
    right: 20px;

    .bubble-content-container {
      padding: 13px 10px;
      height: auto;
    }

    .fa-caret-down {
      left: 71px;
    }

    .text {
      width: 100%;
      height: 100%;
      font-size: 12px;
      color: white;

      a {
        color: #00A6C9;
      }
    }

  }
}

.send-invites-question-container {
  height: 0;
  overflow: hidden;

  .question {
    width: 67%;
    height: 60px;
    display: inline-block;
    float: left;
    font-size: 14px;
    color: black;
    padding-left: 20px;
    padding-top: 21px;
  }

  .answers-container {
    width: 33%;
    height: 60px;
    display: inline-block;
    float: right;
    padding-right: 5%;

    .add-project-send-invites-choice-container {
      width: 50%;
      display: inline-block;
      height: 60px;

      .add-project-send-invites-choice {
        float: left;
        margin-top: 8px;
      }

    }
  }
}