
#basicQuestionModalContentContainer {

  .basic-modal-body {
    width: 100%;
  }

  .message {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 54px;
    font-size: 15px;
    text-align: center;
    display: block;
    min-height: 64px;
  }

  .action-btn-container {
    display: block;
    width: 100%;
    height: 55px;
    border-top: 1px solid rgb(245,245,245);

    .cancel-btn,
    .confirm-btn {
      width: 110px;
      height: 35px;
      line-height: 37px;
      border-radius: 20px;
      text-align: center;
      color: white;
      font-size: 16px;
      margin-top: 9px;
      cursor: pointer;
    }

    .cancel-btn {
      float: left;
      margin-left: 101px;
      background-color: #BEBFC4;
    }

    .confirm-btn {
      float: right;
      margin-right: 101px;
      background-color: #00A6C9;
    }

    .cancel-btn:hover {
      background-color: #C6C8D0;
    }

    .confirm-btn:hover {
      background-color: #00B3D7;
    }

  }
}


#modalSendInvites {

  #basicQuestionModalContentContainer {

    .message {
      margin-top: 41px;
      margin-bottom: 14px;
      line-height: 25px;
    }
  }
}
