
.user-info-bubble {
  width: 150px;
  z-index: 10;
  position: absolute;
  top: -68px;
  right: 125px;
}

.bubble-container {
  width: 100%;
  position: relative;

  .fa-caret-down {
    position: absolute;
    font-size: 28px;
    color: black;
    bottom: -16px;
    left: 67px;
  }
}

.bubble-content-container {
  width: 100%;
  height: 125px;
  background-color: black;
  border-radius: 10px;
}

