
$not-quite-black: #1D1E22;

#aboutModalView {

  .modal-content {
    border-radius: 8px;
  }

  .modal-header {
    height: 65px;
    width: 100%;
    border-bottom: 1px solid #EEE !important;
    position: relative;

    button {
      margin-right: 22px;
      margin-top: 22px;
      font-size: 22px;
    }

    .header-text {
      width: 100%;
      height: 100%;
      line-height: 55px;
      font-size: 24px;
      color: black;
      padding-top: 8px;
      padding-left: 35px;
    }
  }

  .about-modal-body {
    width: 100%;
    margin-bottom: 20px;
  }

  #aboutContentView {
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 4px;


    .about-text {
      font-size: 14.5px;
      line-height: 25px;
      white-space: pre-line;
    }

    .got-it-btn {
      width: 115px;
      height: 34px;
      line-height: 34px;
      border-radius: 17px;
      background-color: #00A6C9;
      color: white;
      cursor: pointer;
      text-align: center;
      margin-top: 21px;
      margin-left: auto;
      margin-right: auto;
    }

  }

}

#modalAbout.safari,
#modalRules.safari {
  .got-it-btn {
    font-family: 'Proxima-Nova-SemiBold';
  }
}



#rulesModalView {

  .modal-content {
    border-radius: 8px;
  }

  .modal-header {
    height: 65px;
    width: 100%;
    border-bottom: 1px solid #EEE !important;
    position: relative;

    button {
      margin-right: 22px;
      margin-top: 22px;
      font-size: 22px;
    }

    .header-text {
      width: 100%;
      height: 100%;
      line-height: 55px;
      font-size: 24px;
      color: black;
      padding-top: 8px;
      padding-left: 29px;
    }
  }

  .rules-modal-body {
    width: 100%;
  }

  #rulesContentView {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    height: 263px;
    overflow-y: auto;
    overflow-x: hidden;

    .rules-text {
      font-size: 14px;

      .rule {
        margin-top: 15px;
        float: left;

        .rule-text {
          width: 100%;
          float: left;
          margin-bottom: 9px;

          .num {
            display: inline-block;
            float: left;
            font-family: 'Proxima-Nova-Bold';
            position: relative;
            top: 2px;
          }

          .text {
            display: inline-block;
            float: left;
            padding-left: 10px;
            max-width: 97%;

            .link-to-suggestions {
              color: #00A6C9;
              cursor: pointer;
            }

            .link-to-suggestions:hover {
              text-decoration: underline;
            }

            .rule-bold {
              font-family: 'Proxima-Nova-SemiBold';
            }
          }

        }

        .project-type-rule-container {
          padding-left: 30px;
          float: left;
          margin-top: 6px;
          margin-bottom: 10px;

          .project-type-name {
            font-family: 'Proxima-Nova-SemiBold';
            margin-top: 12px;

            span {
              color: #00A6C9;
              display: inline-block;
              padding-left: 6px;
              cursor: pointer;
              font-size: 11px;
              text-decoration: underline;
              font-family: 'Proxima-Nova';
            }

            span:hover {
              text-decoration: underline;
            }
          }

          .project-type-name.first {
            margin-top: 0;
          }

          .project-type-explanation {
            padding-left: 18px;
            height: 0;
            overflow: hidden;
            -webkit-transition: height 0.3s;
            -moz-transition: height 0.3s;
            -ms-transition: height 0.3s;
            -o-transition: height 0.3s;
            transition: height 0.3s;
            transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);

            .scenario {
              margin-top: 10px;
              margin-bottom: 10px;

              span {
                display: inline-block;
                max-width: 96%;
              }

              .fa-circle {
                font-size: 5px;
                display: inline-block;
                padding-right: 10px;
                padding-top: 7px;
                float: left;
              }

            }

            .sub-scenario {
              padding-left: 23px;
              margin-top: 5px;
              margin-bottom: 5px;
            }

          }

          [data-project-type="up-for-grabs"].expand {
            height: 85.5px;
          }

          [data-project-type="on-the-fence"].expand {
            height: 88px;
          }

          [data-project-type="launched"].expand {
            height: 53px;
          }

        }

      }

      .rule.first {
        margin-top: 11px;
      }

    }

  }

  .got-it-btn {
    float: left;
    width: 115px;
    height: 34px;
    line-height: 34px;
    border-radius: 17px;
    background-color: #00A6C9;
    color: white;
    cursor: pointer;
    text-align: center;
    margin-top: 9px;
    margin-left: 247px;
    margin-bottom: 13px;

  }

}


#suggestionsModalView {

  .modal-content {
    border-radius: 8px;
  }

  .modal-header {
    height: 65px;
    width: 100%;
    border-bottom: 1px solid #EEE !important;
    position: relative;

    button {
      margin-right: 22px;
      margin-top: 22px;
      font-size: 22px;
    }

    .header-text {
      width: 100%;
      height: 100%;
      line-height: 55px;
      font-size: 24px;
      color: black;
      padding-top: 8px;
      padding-left: 35px;
    }
  }

  .suggestions-modal-body {
    width: 100%;
  }

  #suggestionsContentView {
    width: 100%;

    .suggestions-view-container {
      width: 100%;
      padding: 0 35px;
      height: 258px;

      .make-a-suggestion-text {
        width: 100%;
        height: 30px;
        float: left;
        margin: 20px 0;
        line-height: 30px;
        font-size: 14px;
        text-align: center;
        font-family: 'Proxima-Nova-SemiBold';
      }

      .suggestion-textarea {
        width: 100%;
        height: 120px;
        resize: none;
        overflow-y: auto;
        overflow-x: hidden;
        font-size: 14px;
        padding: 5px 10px;
        border: 1px solid #DDD;
        border-radius: 4px;
        color: $not-quite-black;
        box-shadow: none;
        outline: none;
        float: left;
      }

      #suggestionsSpinnerView {
        width: auto;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;

        .sk-circle {
          margin: 0px auto;
        }
      }

      .sending-suggestion {
        width: 100%;
        float: left;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: $not-quite-black;
        font-size: 17px;
        margin-top: 15px;
      }

      #suggestionsSuccess {
        width: 100%;
        height: auto;
        float: left;

        .fa {
          font-size: 80px;
          color: #00A6C9;
          text-align: center;
          display: block;
          margin-top: 35px;
          margin-bottom: 5px;
          margin-left: auto;
          margin-right: auto;
        }
      }

      .success-text {
        width: 100%;
        float: left;
        height: 50px;
        line-height: 50px;
        text-align: center;
        color: $not-quite-black;
        font-size: 17px;
        margin-bottom: 20px;
      }

      .suggestions-error-text {
        width: 65%;
        float: left;
        line-height: 25px;
        margin: 60px auto;
        text-align: center;
        color: red;
        font-size: 15px;
        margin-left: 17.5%;
      }

      .suggestions-footer {
        height: 68px;
        width: 100%;
        float: left;

        .submit-btn {
          width: 110px;
          height: 32px;
          line-height: 32px;
          border-radius: 16px;
          background-color: #00A6C9;
          color: white;
          cursor: pointer;
          text-align: center;
          margin-top: 18px;
          margin-left: auto;
          margin-right: auto;
        }
      }

    }

    .suggestions-view-container.safari {
      .submit-btn {
        font-family: 'Proxima-Nova-SemiBold';
      }
    }

  }

}


