
$footer-height: 48px;
$line-break-margin-top: 12px;
$light-gray: #C4C5CA;
$sub-header-color: #F7F7FA;
$not-quite-black: #1D1E22;

.footer-container {
  width: 100%;
  height: 100%;
  border-radius: 3px 3px 0 0;
  background-color: white;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.46);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.5);
  box-shadow: 0 0 1px rgba(0,0,0,0.46);

  .search-container {
    width: 53%;
    height: 100%;
    display: inline-block;
    float: left;
    position: relative;

    .octicon-search {
      position: absolute;
      left: 12px;
      top: 15px;
      font-size: 16px;
      color: $light-gray;
      z-index: 100;
    }

    .selectize-control.multi {
      width: 95%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 3px;

      .selectize-input {
        border: none;
        padding-top: 7px;
        padding-bottom: 4px;
        padding-left: 27px;
        line-height: 30px;

        input {
          color: #BBB;
          font-size: 13.5px;
        }

        input::-webkit-input-placeholder {
          color: $light-gray;
        }

        input:-moz-placeholder {
          color: #8D8F98;
          font-family: 'Proxima-Nova-SemiBold';
        }
        input::-moz-placeholder {
          color: #8D8F98;
          font-family: 'Proxima-Nova-SemiBold';
        }
        input:-ms-input-placeholder {
          color: $light-gray;
        }
      }

      .selectize-dropdown {
        -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.46) !important;
        -moz-box-shadow: 0 0 1px rgba(0,0,0,0.46) !important;
        box-shadow: 0 0 1px rgba(0,0,0,0.46) !important;
        border: none !important;
        background: transparent;

        .selectize-dropdown-content {
          max-height: 170px;
        }

        .selectize-dropdown-content::-webkit-scrollbar {
          -webkit-appearance: none;
          -moz-appearance: none;
        }

        .selectize-dropdown-content::-webkit-scrollbar:vertical {
          width: 11px;
        }

        .selectize-dropdown-content::-webkit-scrollbar-thumb {
          border-radius: 8px;
          border: 2px solid rgba(0,0,0,0.9); /* should match background, can't be transparent */
          background-color: #00A6C9;
        }

        .selectize-dropdown-content::-webkit-scrollbar-track {
          background-color: rgba(0, 0, 0, 0.9);
        }

        div.option {
          padding: 8px 8px;
          background-color: rgba(0,0,0,0.9);
          color: white;
        }

        div.option.active {
          background-color: rgba(110,111,114,1);
        }
      }
    }
  }

  .search-container.safari {
    input::-webkit-input-placeholder {
      font-family: 'Proxima-Nova-SemiBold';
    }

    input {
      line-height: 20px !important;
    }

    div.option {
      font-family: 'Proxima-Nova-SemiBold' !important;
    }
  }

  .line-break {
    width: 1px;
    height: 22px;
    margin-top: $line-break-margin-top;
    background-color: rgba(0,0,0,0.15);
    display: inline-block;
    float: left;
  }

  .filter-choice-container {
    width: 46%;
    height: 100%;
    display: inline-block;
    float: right;
    position: relative;

    .choose {
      width: 100%;
      height: 100%;
      padding-top: 13.5px;
      font-size: 13.5px;
      text-align: center;
      color: #00A6C9;
      cursor: default;
      z-index: 1;
      opacity: 1;
      -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
      -ms-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;

      i {
        position: relative;
        left: -7px;
        font-size: 20px;
      }

      span {
        position: relative;
        top: -6px;
      }

    }

    .btn-container {
      position: absolute;
      left: 0;
      top: 4px;
      right: 38px;
      height: 40px;
      float: left;
      z-index: 2;
      display: block;
      opacity: 0;
      -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
      -ms-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;

      .footer-filter-btn {
        width: auto;
        height: 100%;
        line-height: 40px;
        background-color: #D1D3D8;
        display: inline-block;
        cursor: pointer;
        color: white;
        font-size: 13.5px;
        overflow: hidden;
        text-align: center;
        position: absolute;
        z-index: 2;
      }

      .footer-filter-btn.selected-filter {
        background-color: #00A6C9;
        z-index: 3;
      }

      #langFilterChoice,
      #domainFilterChoice,
      #seekingFilterChoice {
        transform: translate3d(0,0,0);
        -webkit-transform: translate3d(0,0,0);
      }


      #langFilterChoice {
        float: left;
        left: 0;
        right: 67.1%;
        -webkit-transition: right .3s;
        -moz-transition: right .3s;
        -ms-transition: right .3s;
        -o-transition: right .3s;
        transition: right .3s;
      }

      #langFilterChoice.selected-filter {
        right: 0 !important;
      }

      #langFilterChoice.not-selected {
        right: 100% !important;
      }

      #langFilterChoice.show-all {
        right: 67.1% !important;
      }

      #domainFilterChoice {
        float: left;
        left: 34%;
        right: 34%;
        -webkit-transition: left .29s, right .29s;
        -moz-transition: left .29s, right .29s;
        -ms-transition: left .29s, right .29s;
        -o-transition: left .29s, right .29s;
        transition: left .29s, right .29s;
      }

      #domainFilterChoice.selected-filter {
        left: 0 !important;
        right: 0 !important;
      }

      #domainFilterChoice.not-selected-hide-left {
        right: 67% !important;
      }

      #domainFilterChoice.not-selected-hide-right {
        left: 67% !important;
      }

      #domainFilterChoice.show-all {
        left: 34% !important;
        right: 34% !important;
      }

      #seekingFilterChoice {
        float: right;
        left: 67%;
        right: 0;
        -webkit-transition: left .3s;
        -moz-transition: left .3s;
        -ms-transition: left .3s;
        -o-transition: left .3s;
        transition: left .3s;
      }

      #seekingFilterChoice.selected-filter {
        left: 0 !important;
      }

      #seekingFilterChoice.not-selected {
        left: 100% !important;
      }

      #seekingFilterChoice.show-all {
        left: 67% !important;
      }

    }

    .btn-container.safari {
      font-family: 'Proxima-Nova-SemiBold';
    }

    .more-filters-btn {
      position: absolute;
      float: right;
      right: 0;
      top: 0;
      width: 38px;
      height: 100%;
      opacity: 0;
      -webkit-transition: opacity 0.3s linear;
      -moz-transition: opacity 0.3s linear;
      -ms-transition: opacity 0.3s linear;
      -o-transition: opacity 0.3s linear;
      transition: opacity 0.3s linear;
      text-align: center;
      font-size: 18px;
      line-height: $footer-height;
      color: $light-gray;
      cursor: pointer;

      svg {
        height: 16px;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
        display: block;
      }
    }

    #moreFiltersDropUp {
      position: absolute;
      bottom: 59px;
      right: -9px;
      width: 165px;
      border-radius: 5px;
    }

  }

  .filter-choice-container.show-filter-btns {

    .choose {
      opacity: 0;
    }

    .btn-container,
    .more-filters-btn {
      opacity: 1;
    }

  }
}

.footer-container.safari {
  -webkit-box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.9);
  box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.9);
}








