
.home-body {
  min-height: 700px;
}

#project-feed {
  min-height: 700px;
  margin-top: 30px;
}

.project-feed-list {
  list-style: none;
  padding-left: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.project-feed-list > li:hover {
  background-color: #F4F6F8;
}

.project-feed-list > li {
  position: relative;
}

.project-post-view {
  height: 150px;
  border-bottom: 1px solid #ccc;
  display: block;
}

.arrow-container {
  height: 60px;
  width: 100%;
}

.arrow {
  height: 30px;
  width: 40%;
  line-height: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 33px;
  cursor: pointer;
}

.fa.fa-angle-up {
  color: rgb(198,200,202);
  font-size: 32px;
}

.vote-master-container {
  display: inline-block;
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.vote-count-container {
  width: 100%;
  height: 30px;
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: 'Helvetica Neue';
}

.vote-master-container.voted {

  .vote-count-container,
  .fa{
    color: #00A6C9;
  }
}

.title-subtitle-tag-container {
  display: inline-block;
  width: 59%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 10%;
}

.title-container {
  width: 100%;
  height: 20px;
  line-height: 20px;
  color: #C4C5CA;
  margin-top: 24px;
  font-size: 13px;
  padding-left: 5px;

  span {
    cursor: pointer;
  }
}

.subtitle-container {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: black;
  margin-top: -4px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 5px;
}

.project-post-subtitle-text {
  cursor: pointer;
}

.tag-container {
  width: 90%;
  height: auto;
  color: black;
  padding-left: 5px;
}

.project-extra-details-container {
  display: inline-block;
  width: 31%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  .date {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    margin-right: 20px;
    margin-top: 15px;
    font-size: 10px;
    font-family: 'Helvetica Neue';
    font-weight: 300;
    color: #C4C5CA;
    opacity: 0;
  }
}

.main-three-details-container {
  width: 100%;
  height: 40px;
}

.main-three-no-search-result {
  margin-top: 55px;
}

.main-three-sub-container {
  width: 90%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.project-post-user-container {
  width: 33.3%;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

.project-post-user-pic {
  margin-left: 24px;
  width: 25px;
  height: 25px;
  margin-top: 7.5px;
  border-radius: 12.5px;
  cursor: pointer;
}

.project-post-contributors-container {
  width: 33.3%;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 33.3%;
}

.project-post-contributors {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  text-align: center;
}

.project-post-num-contributors {
  font-size: 15px;
  color: black;
  line-height: 40px;
}

.fa.fa-user {
  color: black;
  font-size: 18px;
  line-height: 40px;
}

.project-post-comments-container {
  width: 33.3%;
  height: 40px;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.project-post-comments {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  text-align: center;
}

.project-post-num-comments {
  font-size: 15px;
  color: black;
  line-height: 40px;
}

.fa.fa-comment {
  color: black;
  font-size: 18px;
  line-height: 40px;
}

.post-license-privacy-container {
  width: 50%;
  height: 40px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

.project-post-license-container {
  width: 50%;
  height: 40px;
  display: inline-block;
}

.project-post-license {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  font-family: 'Helvetica Neue';
  color: #C4C5CA;
  opacity: 0;
}

.project-post-privacy-container {
  width: 50%;
  height: 40px;
  display: inline-block;
}

.project-post-privacy {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  text-align: center;
  line-height: 40px;
  opacity: 0;
}

.fa.fa-lock {
  color: #C4C5CA;
  font-size: 16px;
  line-height: 40px;
}

.fa.fa-users {
  color: #C4C5CA;
  font-size: 14px;
  line-height: 40px;
}

.post-tag {
  display: inline-block;
  max-width: 120px;
  height: 28px;
  line-height: 25px;
  border-radius: 6px;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: white;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  text-align: center;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 3px;
}

.only-two-of-main-three {
 width: 50%;
}

.user-pic-no-contrib {
  margin-left: 43px;
}

.main-three-sub-container-no-contrib {
  width: 68%;
}

.grab-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 35px;
  padding-top: 9px;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  cursor: pointer;
}

.fa.fa-plus {
  color: black;
  font-size: 20px;
}

.project-status-container {
  width: 100%;
  height: 35px;
  margin-top: 20px;
}

.project-status {
  height: 30px;
  width: 110px;
  line-height: 27px;
  border-radius: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: white;
  font-family: 'Helvetica Neue';
  font-size: 13px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid lightgray;
  color: lightgray;
}

.hidden-popup {
  display: none;
}

.popup-backdrop {
  animation-duration: 400ms !important;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1040;
}

.myPopup {
  animation-duration: 400ms !important;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  height: 35%;
  width: 40%;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 30%;
  margin-top: 15%;
  z-index: 1050;
}

.project-section-title {
  height: 80px;
  margin-top: 80px;
}


.project-type-nav {
  height: 100px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  border-bottom: 1px solid #EEE;
}

.project-type-container {
  height: 100px;
  width: 100%;
  display: inline-block;
}

.project-type {
  height: 80px;
  width: 33.33%;
  margin-top: 10px;
  cursor: pointer;

  a {
    padding-top: 40px;
    color: black;
  }

}

.tab-slider {
  height: 2px;
  width: 33.33%;
  background-color: #48BEFF;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: -2px;
  left: 0;
  opacity: 0;
}

.selected-project-type {
  background-color: white;
  color: black;
}


.toggleFiltersBtnContainer {
  width: 27%;
  height: 100px;
  display: inline-block;
}


#toggleFiltersBtn {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  line-height: 80px;
  text-align: center;
  color: black;
  cursor: pointer;
}

.filters-container {
  width: 100%;
}

.filters-container {

  .selectize-control.multi {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 100px;
    z-index: 10;
  }

  .selectize-input {
    border-radius: 18px !important;
    padding-left: 15px !important;
  }

  .selectize-dropdown-content {
    max-height: 130px !important;
    z-index: 10;
  }

  .selectize-control.multi .selectize-input.has-items {
    padding-bottom: 8px !important;
  }
}


.lang-selection-list {
  position: fixed;
  top: 270px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 15px;
  bottom: 40px;
  overflow:scroll;
}

.lang-selection {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #000000;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 22px;
  color: white;
  line-height: 50px;
  font-family: 'Helvetica Neue';
}

.lang-frame-name {
  text-align: center;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  margin-top: -3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: default;
}

.filter-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 0px;
  width: 0px;
  border-radius: 9px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  line-height: 17px;
  z-index: 10;
}

//#langSelectionListContainer {
//  ::-webkit-scrollbar {
//    display: none;
//  }
//}


#nonLangFiltersMaster {
  position: fixed;
  top: 65px;
  right: 0px;
  padding-left: auto;
  padding-right: auto;
  overflow: scroll;
}

#licenseFilterContainer {
  width: 100%;
  margin-top: 35px;
}

#privacyFilterContainer,
#anonFilterContainer {
  width: 100%;
  margin-top: 30px;
}

.nonLangFilterHeader {
  height: 40px;
  padding-top: 5px;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

.licenseFilters,
.privacyFilters,
.anonFilters {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.licenseFilterBtn,
.privacyFilterBtn,
.anonFilterBtn {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.licenseFilterBtn > p,
.privacyFilterBtn > p,
.anonFilterBtn > p {
  padding-right: 17px;
}

.fa.fa-circle {
  color: white;
  font-size: 11px;
  float: left;
  opacity: 0;
  padding-left: 8px;
  line-height: 30px;
}

.licenseFilterBtnSelected,
.privacyFilterBtnSelected,
.anonFilterBtnSelected {
  background-color: #000000;
  color: white;

  .selected-fa {
    opacity: 1;
  }
}


#clearLangFiltersBtnContainer {
  position: fixed;
  bottom: 10px;
  height: 30px;
  left: 0px;
}

#clearLangFiltersBtn {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #bbb;
  cursor: pointer;
  font-size: 12px;
}

#clearNonLangFiltersBtnContainer {
  position: fixed;
  bottom: 10px;
  height: 30px;
  right: 0px;
}

#clearNonLangFiltersBtn {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #bbb;
  cursor: pointer;
  font-size: 12px;
}


// Search

.searchbox {
  width: 40%;
  height: 37px;
  float: right;
  margin-top: 12px;
  margin-right: 0;
  transition: width 0.3s;

  input{
    outline: 0;
    border: 1px solid rgba(190,190,190,1);
    border-radius: 20px;
    margin-bottom: 0;
    background-color: white;
    width: 100%;
    line-height: 37px;
    padding-left: 20px;
    font-size: 16px;
    color: black;
  }

  input::-webkit-input-placeholder {
    color: #aaaaaa;
  }
  input:-moz-placeholder {
    color: #aaaaaa;
  }
  input::-moz-placeholder {
    color: #aaaaaa;
  }
  input:-ms-input-placeholder {
    color: #aaaaaa;
  }

  .search-results-list {
    width: 94%;
    margin-left: 3%;
    margin-bottom: 0px;
    height: 220px;
    padding-left: 9px;
    list-style-type: none;
    background-color: white;
    border: 1px solid #CCC;
    border-top: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    display: none;
    overflow: scroll;
  }

  .search-results-list::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .search-results-list::-webkit-scrollbar:vertical {
    width: 9px;
  }

  .search-results-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: #DEDEE9
  }

  .search-results-list::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
  }
}

.search-result {
  width: 100%;
  height: 85px;
  background-color: white;
  border-bottom: 1px solid #DDD;
  display: block;
  cursor: pointer;

  .left-container {
    display: inline-block;
    height: 100%;
    float: left;
    width: 75%;
    padding-top: 10px;

    .search-result-vote-count {
      width: 10%;
      min-width: 35px;
      text-align: center;
      display: inline-block;
      float: left;
      font-size: 14px;
      padding-top: 24px;
      color: #C4C5CA;
    }

    .search-result-title-subtitle-container {
      width: 90%;
      display: inline-block;
      float: left;

      .title {
        width: 100%;
        margin-bottom: 4px;
        margin-top: 3px;
        color: #C4C5CA;
        font-size: 12px;

        span {
          color: #00A6C9;
          text-decoration: underline;
          font-weight: 500;
        }
      }

      .subtitle {
        width: 100%;
        font-size: 14px;
        font-weight: 500;

        span {
          color: #00A6C9;
          text-decoration: underline;
        }
      }
    }

  }

  .right-container {
    display: inline-block;
    height: 100%;
    float: left;
    width: 25%;

    .search-result-type {
      width: 100%;
      padding-top: 35px;
      text-align: center;
      font-family: 'Helvetica Neue';
      font-size: 12px;
      color: #C4C5CA;
    }
  }

}

.search-result:hover {
  background-color: #F4F6F8;
}

.searchbox-open{
  width: 100%;
}






