
.home-body {
  min-height: 700px;
}

#project-feed {
  min-height: 700px;
  margin-top: 30px;
}

.project-feed-list {
  list-style: none;
  padding-left: 0;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.project-post-view {
  height: 150px;
  border-bottom: 1px solid black;

}

.hidden-popup {
  display: none;
}

.popup-backdrop {
  animation-duration: 400ms !important;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1040;
}

.myPopup {
  animation-duration: 400ms !important;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  height: 35%;
  width: 40%;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 30%;
  margin-top: 15%;
  z-index: 1050;
}

.project-section-title {
  height: 80px;
  margin-top: 80px;
}


.project-type-nav {
  height: 100px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
  border-bottom: 1px solid #EEE;
}

.project-type-container {
  height: 100px;
  width: 100%;
  display: inline-block;
}

.project-type {
  height: 80px;
  width: 33.33%;
  display: inline-block;
  color: black;
  text-align: center;
  margin-top: 10px;
  line-height: 80px;
}

.selected-project-type {
  background-color: white;
  color: black;
}

.add-project-container {
  width: 27%;
  height: 100px;
  display: inline-block;
}


.toggleFiltersBtnContainer {
  width: 27%;
  height: 100px;
  display: inline-block;
}

#addProjectBtn {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  line-height: 80px;
  text-align: center;
  color: black;
  cursor: pointer;
}

#toggleFiltersBtn {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  line-height: 80px;
  text-align: center;
  color: black;
  cursor: pointer;
}

.filters-container {
  width: 100%;
  height: 0;
}

#filters-langs-frames {
  opacity: 0;
}

.selectize-control.multi {
  height: 0;
  opacity: 0;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
  z-index: 10;
}

.selectize-input {
  height: 0;
  opacity: 0;
  border-radius: 18px !important;
  padding-left: 15px !important;
}

.selectize-dropdown-content {
  max-height: 130px !important;
  opacity: 0;
  z-index: 10;
}


.lang-selection-list {
  position: fixed;
  top: 270px;
  padding-left: auto;
  padding-right: auto;
  padding-top: 15px;
  bottom: 40px;
  overflow:scroll;
}

.lang-selection {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: #000000;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 22px;
  color: white;
  line-height: 50px;
  font-family: 'Helvetica Neue';
}

.lang-frame-name {
  text-align: center;
  width: 75px;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  margin-top: -3px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filter-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 0px;
  width: 0px;
  border-radius: 9px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  line-height: 17px;
  z-index: 10;
}

//#langSelectionListContainer {
//  ::-webkit-scrollbar {
//    display: none;
//  }
//}


#nonLangFiltersMaster {
  position: fixed;
  top: 65px;
  right: 0px;
  height: 0;
  padding-left: auto;
  padding-right: auto;
  overflow: hidden;
}

#licenseFilterContainer {
  width: 100%;
  height: 200px;
  margin-top: 35px;
}

#privacyFilterContainer {
  width: 100%;
  height: 200px;
}

.nonLangFilterHeader {
  height: 40px;
  padding-top: 5px;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

.licenseFilters {
  width: 100%;
  height: 160px;
  padding-left: 30px;
  padding-right: 30px;
}

.privacyFilters {
  width: 100%;
  height: 160px;
  padding-left: 30px;
  padding-right: 30px;
}

.licenseFilterBtn,
.privacyFilterBtn
{
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.licenseFilterBtn > p,
.privacyFilterBtn > p {
  padding-right: 17px;
}

.fa.fa-circle {
  color: white;
  font-size: 11px;
  float: left;
  opacity: 0;
  padding-left: 8px;
  line-height: 30px;
}

.licenseFilterBtnSelected,
.privacyFilterBtnSelected
{
  background-color: #000000;
  color: white;
}

#clearLangFiltersBtnContainer {
  position: fixed;
  bottom: 10px;
  height: 30px;
  left: 0px;
}

#clearLangFiltersBtn {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #bbb;
  cursor: pointer;
  font-size: 12px;
  opacity: 0;
}

#clearNonLangFiltersBtnContainer {
  position: fixed;
  bottom: 10px;
  height: 30px;
  right: 0px;
}

#clearNonLangFiltersBtn {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #bbb;
  cursor: pointer;
  font-size: 12px;
  opacity: 0;
}








