
$header-height: 68px;
$sub-header-height: 66px;
$minor-filters-right-offset: 20px;

$not-quite-black: #1D1E22;
$light-gray: #C4C5CA;
$project-type-color: #9EA1A9;
$post-gray: #B6B8C0;
$sub-header-color: #F7F7FA;

$feed-width: 63.5%;
$side-filters-width: 18.25%;

.main-body-container {
  float: left;
  width: 100%;
}

#langFiltersContainer,
#nonLangFiltersContainer {
  width: $side-filters-width;
  float: left;
  display: inline-block;
}

#project-feed {
  width: $feed-width;
  margin-left: $side-filters-width;
  float: left;
  display: inline-block;

  .no-project-results {
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    font-size: 15.5px;
    color: $light-gray;
    text-align: center;
    font-style: italic;
  }
}

.project-feed-list {
  list-style: none;
  padding-left: 0;
  float: left;
  width: 100%;
}

.project-feed-list > li:hover {
  background-color: $sub-header-color;
}

.project-post-view {
  height: 130px;
  cursor: pointer;
  position: relative;
}

.vote-master-container {
  display: inline-block;
  width: 73px;
  float: left;
  height: 100%;
}

.project-post-view {

  .new-vote-count-container {
    width: 40px;
    cursor: pointer;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    color: #1d1e22;
    line-height: 18px;
    text-align: center;
    font-size: 15px;
    margin-top: 38px;

    .fa {
      font-size: 20px;
    }
  }

  .new-vote-count-container:hover {
    color: #00A6C9;
  }

  .vote-master-container.voted {

    .new-vote-count-container {
      color: #00A6C9;
    }
  }
}

.title-subtitle-tag-container {
  display: inline-block;
  height: 100%;
  position: absolute;
  left: 73px;
  right: 190px;
}

[data-project-type="0"] {

  .title-subtitle-tag-container {
    right: 140px;
  }

}

.title-container {
  width: 95%;
  color: #1d1e22;
  font-family: 'Proxima-Nova-SemiBold';
  margin-top: 24px;
  font-size: 18.5px;
  padding-left: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  span {
    cursor: pointer;
  }
}

.title-container.no-tags {
  margin-top: 39px;
}

.subtitle-container {
  width: 95%;
  color: $post-gray;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 5px;
  margin-top: 6.5px;
  margin-bottom: 1px;
}

.project-post-subtitle-text {
  cursor: pointer;
}

.tag-containers {
  float: left;
  margin-top: 5px;
}

.tag-containers.has-domain {
  margin-top: 6px;
}

.domain-tags {
  padding-left: 5px;
  display: inline-block;
  float: left;
  height: 25px;
  color: $post-gray;
  line-height: 25px;
  text-transform: uppercase;
  margin-right: 5px;
  font-size: 10.5px;
  font-family: 'Proxima-Nova';
}

.domain-tags + .line-break {
  width: 1px;
  height: 12px;
  display: inline-block;
  float: left;
  margin-left: 3px;
  margin-right: 3px;
  background-color: rgba(0, 0, 0, 0.15);
  margin-top: 5.5px;
}

.tag-container {
  width: auto;
  display: inline-block;
  height: 31px;
  color: black;
  padding-left: 5px;
  white-space: nowrap;

  .project-post-tag {
    display: inline-block;

    .fa-circle {
      font-size: 8.5px;
      float: left;
      height: 100%;
      line-height: 25px;
    }

    .tag-name {
      transform: translate3d(0,0,0);
      -webkit-transform: translate3d(0,0,0);
      font-size: 10.5px;
      float: left;
      height: 100%;
      font-family: 'Proxima-Nova';
      line-height: 25px;
      margin-left: 3px;
      display: inline-block;
      overflow-x: hidden;
      width: 0;
    }

  }
}

.project-extra-details-container {
  display: inline-block;
  width: 190px;
  height: 100%;
  padding-right: 22px;
  float: right;

  .date {
    position: absolute;
    top: 0;
    right: 22px;
    text-align: right;
    margin-top: 15px;
    font-size: 10px;
    color: $post-gray;
    opacity: 0;
  }

  .date.up-for-grabs-type {
    right: 24px;
  }
}

.project-post-details-container {
  width: 100%;
  height: 40px;
  margin-top: 45px;
  height: 40px;
  float: right;
}

.project-post-user-container,
.project-post-contributors-container,
.project-post-comments-container,
.project-post-ufg-icon-container {
  height: 100%;
  display: inline-block;
  float: right;
  margin-left: 17px;
}

.project-post-user-container {
  position: relative;
}

.project-post-ufg-icon-container {
  margin-left: 18px;
}

.project-post-user-pic {
  margin-left: 9.5px;
  width: 28px;
  height: 28px;
  margin-top: 6px;
  border-radius: 50%;
  cursor: pointer;
}

.project-post-contributors {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  text-align: center;
  color: $post-gray;
  line-height: 40px;
}

.project-post-num-contributors {
  font-size: 16px;
  margin-left: -3px;
}

.fa.fa-user {
  font-size: 14px;
  position: relative;
  top: -0.5px;
}

.project-post-comments {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  line-height: 40px;
  color: $post-gray;
  text-align: center;
}

.fa.fa-comment {
  font-size: 14px;
  position: relative;
  top: -1px;
}

.project-post-num-comments {
  font-size: 16px;
  margin-left: -4px;
}

#projectPostCommentIcon {
  width: 17px;
  height: 15px;
  display: inline-block;
  margin-top: -2px;
}

#projectPostUserIcon {
  width: 12.5px;
  height: 13px;
  display: inline-block;
  margin-top: -3px;
}

.project-post-ufg-icon {
  width: 28px;
  height: 28px;
  margin-top: 5px;
  padding-top: 3.5px;
  background-color: #00A6C9;
  border-radius: 50%;

  img {
    height: 15px;
    margin-left: 9px;
  }
}

.project-post-ufg-icon + .tooltip {

  .tooltip-inner {
    font-size: 10.5px !important;
    width: 84px !important;
  }
}

.post-license-privacy-container {
  height: 40px;
  margin-top: 1px;
  margin-left: auto;
  margin-right: auto;

  .tooltip.top {
    top: 64px !important;
  }
}

.post-seeking-container {
  float: right;
  position: relative;
  margin-top: 3px;
  opacity: 0;

  .seeking {
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    float: right;
    font-size: 10.5px;
    font-family: 'Proxima-Nova';
    text-align: right;
    margin-right: 16.5px;
    color: $post-gray;
    max-width: 154px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .octicon-search {
    position: absolute;
    color: $post-gray;
    font-size: 11.5px;
    right: 0;
    top: 13px;
    transform: rotatey(180deg);
  }
}

.project-post-license-container {
  width: 50%;
  height: 40px;
  display: inline-block;
  float: left;
}

.project-post-license {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  color: $post-gray;
  opacity: 0;
}

.project-post-privacy-container {
  width: 50%;
  height: 40px;
  display: inline-block;
  float: left;
}

.project-post-privacy {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  text-align: center;
  line-height: 40px;
  opacity: 0;

  .fa {
    color: $post-gray;
    font-size: 19px;
    line-height: 40px;
    position: relative;
    top: -1px;
  }

  .fa-users {
    font-size: 14px;
    top: -2px;
  }
}

.post-license-privacy-container.up-for-grabs-type {
  float: right;
  margin-right: 10px;
  width: 55%;

  .project-post-privacy {
    .fa {
      left: 2px;
    }
  }

  .tooltip.top {
    top: 64px !important;

    .tooltip-inner {
      width: 98px !important;
    }
  }
}

.post-tag {
  display: inline-block;
  max-width: 120px;
  height: 23px;
  line-height: 19.5px;
  border-radius: 6px;
  padding-left: 8px;
  padding-right: 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: white;
  font-size: 11.5px;
  text-align: center;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 3px;
}

.only-two-of-main-three {
 width: 50%;
}

.user-pic-no-contrib {
  margin-left: 20px;
}

.main-three-sub-container-no-contrib {
  width: 62%;
  float: right;
  margin-right: 5px;

  .project-post-num-comments {
    margin-left: -1px;
  }
}

.grab-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35px;
  height: 35px;
  padding-top: 10px;
  text-align: center;
  cursor: pointer;
  color: #38383A;

  i {
    font-size: 22px;
  }
}

.grab-btn:hover {
  color: #00A6C9;
}

.project-status-container {
  width: 100%;
  height: 35px;
  margin-top: 20px;
}

.project-status {
  height: 30px;
  width: 110px;
  line-height: 27px;
  border-radius: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: white;
  font-size: 13px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid lightgray;
  color: lightgray;
}

.hidden-popup {
  display: none;
}

.popup-backdrop {
  animation-duration: 400ms !important;
  background: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1040;
}

.myPopup {
  animation-duration: 400ms !important;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
  height: 35%;
  width: 40%;
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 30%;
  margin-top: 15%;
  z-index: 1050;
}

.project-section-title {
  height: 80px;
  margin-top: 80px;
}


.project-type-nav {
  height: $sub-header-height;
  width: 100%;
  margin-top: $header-height;
  border-bottom: 1px solid #E4E4E2;
  background-color: $sub-header-color;
}

.project-type-container {
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  .indicator {
    margin-left: 24px;
    margin-right: 24px;
  }
}

.project-type {
  height: 100%;
  width: 50%;
  cursor: pointer;

  a {
    line-height: $sub-header-height;
    text-transform: uppercase;
    color: $project-type-color;
    font-size: 14px;
    outline: 0 !important;
    border: none !important;
  }

  a.active {
    color: #00A6C9;
  }

}

.tab-slider {
  height: 2px;
  width: 50%;
  background-color: #48BEFF;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: -2px;
  left: 0;
  opacity: 0;
}

.selected-project-type {
  background-color: white;
  color: black;
}


.toggleFiltersBtnContainer {
  width: 27%;
  height: 100px;
  display: inline-block;
}


#toggleFiltersBtn {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  line-height: 80px;
  text-align: center;
  color: black;
  cursor: pointer;
}

.filters-container {
  width: 100%;
  float: left;
  padding-top: 20px;
  position: relative;
  
  .octicon-search {
    position: absolute;
    top: 35px;
    left: 10%;
    color: $light-gray;
    font-size: 16px;
  }

  .selectize-control.multi {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    z-index: 10;
  }

  .selectize-input {
    border-radius: 18px !important;
    padding-left: 28px !important;
    border: 1px solid rgba(0,0,0,0.15) !important;

  }

  .selectize-input > input {
    color: $post-gray;
    font-size: 12.5px;
  }

  .selectize-input > input::-webkit-input-placeholder {
    color: $light-gray;
    font-family: 'Proxima-Nova-SemiBold';
  }
  .selectize-input > input:-moz-placeholder {
    color: #8D8F98;
    font-family: 'Proxima-Nova-SemiBold';
  }
  .selectize-input > input::-moz-placeholder {
    color: #8D8F98;
    font-family: 'Proxima-Nova-SemiBold';
  }
  .selectize-input > input:-ms-input-placeholder {
    color: $light-gray;
  }

  .selectize-dropdown-content {
    max-height: 120px !important;
    z-index: 10;
  }

  .selectize-control.multi .selectize-input.has-items {
    padding-bottom: 8px !important;
  }
}

#nonLangFiltersMaster {
  padding-left: auto;
  padding-right: auto;
}

#domainFilterContainer {
  width: 100%;
  margin-top: 35px;
}

#privacyFilterContainer,
#anonFilterContainer {
  width: 100%;
  margin-top: 30px;
}

.nonLangFilterHeader {
  height: 40px;
  padding-top: 5px;
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

.domainFilters,
.privacyFilters,
.anonFilters {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.domainFilterBtn,
.privacyFilterBtn,
.anonFilterBtn {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.domainFilterBtn > p,
.privacyFilterBtn > p,
.anonFilterBtn > p {
  padding-right: 17px;
}

#nonLangFiltersMaster {

  .fa.fa-circle {
    color: white;
    font-size: 11px;
    float: left;
    opacity: 0;
    padding-left: 8px;
    line-height: 30px;
  }
}

.domainFilterBtnSelected,
.privacyFilterBtnSelected,
.anonFilterBtnSelected {
  background-color: #000000;
  color: white;

  .selected-fa {
    opacity: 1;
  }
}


#clearLangFiltersBtnContainer {
  position: fixed;
  bottom: 10px;
  height: 30px;
  left: 0px;
}

#clearLangFiltersBtn {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #bbb;
  cursor: pointer;
  font-size: 12px;
}

#clearNonLangFiltersBtnContainer {
  position: fixed;
  bottom: 10px;
  height: 30px;
  right: 0px;
}

#clearNonLangFiltersBtn {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 30px;
  line-height: 30px;
  color: #bbb;
  cursor: pointer;
  font-size: 12px;
}


// Search

.searchbox {
  width: 250px;
  transition: width 0.3s;
  height: 40px;
  position: relative;
  float: right;
  margin-top: 16px;
  margin-right: 0;

  .octicon-search {
    position: absolute;
    left: 12px;
    top: 10px;
    font-size: 18px;
    color: $light-gray;
  }

  input{
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 0;
    background-color: white;
    width: 100%;
    padding-left: 38px;
    font-size: 14px;
    color: $post-gray;
    padding-top: 9px;
    padding-bottom: 9px;
  }

  input::-webkit-input-placeholder {
    color: $light-gray;
  }

  input.safari::-webkit-input-placeholder {
    font-family: 'Proxima-Nova-SemiBold';
  }

  input:-moz-placeholder {
    color: #8D8F98;
    font-family: 'Proxima-Nova-SemiBold';
  }
  input::-moz-placeholder {
    color: #8D8F98;
    font-family: 'Proxima-Nova-SemiBold';
  }
  input:-ms-input-placeholder {
    color: $light-gray;
  }

  .search-results-list {
    width: 94%;
    margin-left: 3%;
    margin-bottom: 0px;
    max-height: 220px;
    padding-left: 0px;
    list-style-type: none;
    background-color: white;
    border: 1px solid #CCC;
    border-top: none;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    display: none;
    overflow-y: auto;
  }

  .search-results-list::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .search-results-list::-webkit-scrollbar:vertical {
    width: 9px;
  }

  .search-results-list::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: #DEDEE9
  }

  .search-results-list::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
  }

  .no-search-results {
    height: 175px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-style: italic;
    color: #C4C5CA;
    padding-top: 67px;
  }

  #searchSpinner {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
  }
}

.searchbox.expand {
  width: 99%;
}

.search-result {
  width: 100%;
  height: 85px;
  background-color: white;
  border-bottom: 1px solid #DDD;
  display: block;
  cursor: pointer;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;

  .title {
    width: 100%;
    margin-bottom: 4px;
    margin-top: 3px;
    font-size: 14px;
    font-family: 'Proxima-Nova-SemiBold';
    color: $not-quite-black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span {
      color: #00A6C9;
      text-decoration: underline;
    }
  }

  .subtitle {
    width: 100%;
    font-size: 12.5px;
    color: $post-gray;
    margin-bottom: 2.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    span {
      color: #00A6C9;
      text-decoration: underline;
    }
  }

  .owner {
    width: 100%;
    font-size: 11px;
    color: $post-gray;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.search-result:hover {
  background-color: #F4F6F8;
}

.toggle-sort-type-container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  height: 35px;

  .buttons-container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    .feed-sort-type-btn {
      height: 100%;
      padding-top: 16px;
      float: left;
      display: inline-block;
      cursor: pointer;
      text-align: center;
      font-size: 10.5px;
      color: #cecece;
    }

    .feed-sort-type-btn.active,
    .feed-sort-type-btn:hover {
      text-decoration: underline;
    }

    .feed-sort-type-btn#time {
      margin-left: 10px;
    }
    .feed-sort-type-btn#points {
      margin-left: 4.15%;
    }
  }
}

#langFiltersView.langs-nav-up {
  left: -51px;
}

#langFiltersView {
  position: fixed;
  top: 116px;
  left: -5px;
  transition: left 0.3s ease-in-out;
  width: 15.5%;
  height: auto;

  .lang-filters-list {
    width: 100%;
    float: left;
    height: auto;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;

    // REGULAR
    li {
      width: 100%;
      height: auto;
      float: left;
      display: block;

      .lang-filter-item {
        float: left;
        height: 46px;
        width: 46px;
        line-height: 46px;
        border-radius: 50%;
        background-color: $not-quite-black;
        margin-right: 7px;
        margin-top: -5px;
        margin-bottom: 0;
        display: inline-block;
        position: relative;
        text-align: center;
        font-size: 22px;
        color: white;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12), 0 2px 8px 0 rgba(0, 0, 0, 0.10);
        transition: width 0.175s, height 0.175s, line-height 0.175s, font-size 0.175s;
      }

      .name {
        float: left;
        padding-top: 16px;
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 54%;
        overflow: hidden;
        cursor: default;
        color: $not-quite-black;
        margin-right: 9px;
        display: none;
      }

      .filter-close-btn {
        display: none;
        float: left;
        margin-top: 16px;
        height: 0;
        width: 0;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.66);
        color: white;
        font-size: 13px;
        text-align: center;
        cursor: pointer;
        line-height: 16px;
      }

    }

    // HOVER
    li.expand {

      .lang-filter-item {
        width: 54px;
        height: 54px;
        line-height: 55px;
        font-size: 26.5px;
        z-index: 1;
      }

      .name {
        display: inline-block;
      }

      .filter-close-btn {
        display: inline-block;
        height: 15px;
        width: 15px;
      }

    }

  }

  .lang-filters-options {
    width: 100%;
    float: left;
    height: 14px;
    margin-bottom: 13px;

    .fa-info-circle {
      display: none;
      float: left;
      margin-left: 18.5px;
      text-align: center;
      font-size: 14px;
      color: $not-quite-black;
      cursor: pointer;
    }

    .fa-info-circle:hover {
      #langFiltersOptionsBubble {
        display: block;
      }
    }

  }
}

#langFiltersView.safari {
  .lang-filter-item {
    font-family: 'Proxima-Nova-SemiBold';
  }
}

#minorFiltersView.safari,
#langFiltersView.safari {
  .filter-close-btn {
    font-family: 'Proxima-Nova-SemiBold';
    line-height: 14px !important;
  }
}

.minor-filters-type-icon {
  display: inline-block;
  float: right;
  margin-right: 24px;
  margin-bottom: 7px;
  opacity: 0;

  span {
    color: $post-gray;
    font-size: 20px;
  }

  img {
    height: 20px;
  }
}

#domainFiltersView.domain-nav-up {
  right: -51px;
}

#minorFiltersView {
  position: fixed;
  top: 150px;
  width: 15.5%;
  height: auto;
  right: 0;
}

#domainFiltersView {
  width: 100%;
  height: auto;
  float: right;
  margin-bottom: 20px;

  .domain-filters-list {
    width: 100%;
    height: auto;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    float: right;
    padding-right: $minor-filters-right-offset;

    // REGULAR
    li {
      width: 100%;
      height: auto;
      float: right;
      display: block;
      position: relative;
      margin-bottom: 8px;

      .domain-filter-item {
        float: right;
        height: 0;
        width: 0;
        border-radius: 50%;
        margin-left: 10px;
        text-align: center;
        overflow: hidden;
        display: inline-block;
        position: relative;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.08);
        left: -12.5px;
        top: 12.5px;

        img {
          height: 100%;
        }
      }

      .name {
        float: right;
        margin-top: 8px;
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: default;
        color: $not-quite-black;
        opacity: 0;
      }

      .filter-close-btn {
        display: none;
        float: right;
        margin-top: 8px;
        height: 0;
        width: 0;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.66);
        color: white;
        font-size: 13px;
        text-align: center;
        cursor: pointer;
        line-height: 16px;
        position: relative;
        left: -5px;
      }

    }

    // HOVER
    li.expand {

      .filter-close-btn {
        display: inline-block;
        height: 15px;
        width: 15px;
      }

    }

  }
}

#seekingFiltersView {
  width: 100%;
  height: auto;
  float: right;
  margin-bottom: 20px;

  .seeking-filters-list {
    width: 100%;
    height: auto;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
    float: right;
    padding-right: $minor-filters-right-offset;

    // REGULAR
    li {
      width: 100%;
      height: auto;
      float: right;
      display: block;
      position: relative;
      margin-bottom: 8px;

      .seeking-filter-item {
        float: right;
        height: 0;
        width: 0;
        border-radius: 50%;
        margin-left: 10px;
        text-align: center;
        overflow: hidden;
        background-color: #C4C5CA;
        display: inline-block;
        position: relative;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 8px 0 rgba(0, 0, 0, 0.08);
        left: -12.5px;
        top: 12.5px;

        span {
          text-align: center;
          color: white;
          font-size: 15px;
          padding-top: 7px;
          position: relative;
          left: -0.5px;
        }
      }

      .name {
        float: right;
        margin-top: 8px;
        font-size: 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: default;
        color: $not-quite-black;
        opacity: 0;
      }

      .filter-close-btn {
        display: none;
        float: right;
        margin-top: 8px;
        height: 0;
        width: 0;
        border-radius: 50%;
        background-color: rgba(0,0,0,0.66);
        color: white;
        font-size: 13px;
        text-align: center;
        cursor: pointer;
        line-height: 16px;
        position: relative;
        left: -5px;
      }

    }

    // HOVER
    li.expand {

      .filter-close-btn {
        display: inline-block;
        height: 15px;
        width: 15px;
      }

    }

  }
}


#privacyFiltersView {
  width: 100%;
  height: auto;
  float: right;
  margin-right: $minor-filters-right-offset;
  margin-bottom: 27px;
}

#langFiltersView {
  .more-dropdown-container {
    margin-top: 1px;
    margin-left: 11px;
    width: 160px;
    float: left;
    position: relative;

    .more-count {
      font-size: 11px;
      float: left;
      margin-top: 7px;
      cursor: pointer;
      color: #00A6C9;
      text-decoration: underline;
    }
  }
}

#domainFiltersView,
#seekingFiltersView {
  .more-dropdown-container {
    margin-top: 1px;
    margin-right: 19px;
    width: 160px;
    float: right;
    position: relative;

    .more-count {
      font-size: 11px;
      float: right;
      cursor: pointer;
      color: #00A6C9;
      text-decoration: underline;
    }
  }
}

.more-tags-container {
  position: relative;
  top: -9.5px;
  display: none;

  .more-tags-count {
    font-size: 11px;
    cursor: pointer;
    color: #00A6C9;
    text-decoration: underline;
  }
}

#floatingLoginWithGHBtn {
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 8px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 8px 0 rgba(0, 0, 0, 0.10);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 8px 0 rgba(0, 0, 0, 0.10);
  -webkit-transition: box-shadow .2s ease-out, color .2s ease-out;
  -moz-transition: box-shadow .2s ease-out, color .2s ease-out;
  -ms-transition: box-shadow .2s ease-out, color .2s ease-out;
  -o-transition: box-shadow .2s ease-out, color .2s ease-out;
  transition: box-shadow .2s ease-out, color .2s ease-out;
  border-radius: 50%;
  font-size: 50px;
  display: none;
  color: #333;
  cursor: pointer;
  position: fixed;
  bottom: 21px;
  right: 24px;
  z-index: 1;
}

#floatingLoginWithGHBtn:hover {
  color: #3F3F3F;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.11);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.11);
}

#floatingLoginWithGHBtn + .tooltip.top {

  .tooltip-inner {
    color: white;
    position: relative;
    font-size: 10.5px;
    left: -6px;
  }

}

#floatingLoginWithGHBtn.not-safari + .tooltip.top {
  .tooltip-inner {
    width: 100px !important;
  }
}

#floatingLoginWithGHBtn.safari + .tooltip.top {
  .tooltip-inner {
    width: 105px !important;
    font-family: 'Proxima-Nova-SemiBold';
  }
}


.gh-login-loading {
  width: 50px;
  height: 50px;
  background-color: #3F3F3F;
  z-index: 0;
  cursor: default;
  position: fixed;
  bottom: 21px;
  right: 23px;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.11);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12), 0 4px 12px 0 rgba(0, 0, 0, 0.11);

  .growing-circle-spinner {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    -o-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

@-moz-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -ms-transform: scale(1.0);
    -o-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

#modalLogin.safari {
  .gh-login-btn {
    .btn-text {
      font-family: 'Proxima-Nova-SemiBold';
    }
  }
}














