
$not-quite-black: #1D1E22;

#myProjectsModalView {

  .modal-content {
    border-radius: 8px;
  }

  .modal-header {
    height: 65px;
    width: 100%;
    border-bottom: none !important;

    button {
      margin-right: 22px;
      margin-top: 22px;
      font-size: 22px;
    }

    .header-text {
      width: 100%;
      height: 100%;
      line-height: 55px;
      text-align: center;
      font-size: 24px;
      color: black;
      padding-top: 8px;
      padding-left: 23px;
    }
  }

  .my-projects-modal-body {
    height: 350px;
    width: 100%;
    overflow: scroll;
    margin-bottom: 20px;
  }

  #myProjectsFeedView {
    width: 100%;

    .list-container {
      width: 100%;
      float: left;
      min-height: 130px;

      .my-projects-type-title-container {
        height: 20px;
        width: 100%;
        display: block;
        float: left;

        .my-projects-type-title {
          line-height: 20px;
          height: 100%;
          float: left;
          font-size: 12px;
          padding-left: 2%;
          padding-right: 2%;
          display: inline-block;
          color: #00A6C9;
        }

        .line-break {
          height: 1px;
          background-color: #EEE;
          float: left;
          margin-top: 9px;
          padding-left: 10px;
          padding-right: 10px;
        }

        .line-break#myProjectsLB {
          width: 84%;
        }
        .line-break#contributionsLB {
          width: 82.5%;
        }
      }


      ul {
        width: 100%;
        padding-left: 0;
        list-style-type: none;
        float: left;
        margin-bottom: 25px;

        .my-projects-none-message {
          color: #C4C5CA;
          font-style: italic;
          font-size: 14px;
          text-align: center;
          margin-top: 46px;
          width: 100%;
        }

        li {
          width: 100%;
          height: 45px;
          float: left;
          cursor: pointer;
        }

        li:hover {
          background-color: #F4F6F8;
        }

        .my-projects-item-container {
          width: 100%;
          heigth: 100%;
          float: left;
          display: block;

          .title {
            width: 100%;
            padding-left: 30px;
            height: 100%;
            line-height: 45px;
            color: $not-quite-black;
            font-size: 14px;
            font-family: 'Proxima-Nova-SemiBold';
          }

        }

      }
    }
  }

}



#starredModalView {

  .modal-content {
    border-radius: 8px;
  }

  .modal-header {
    height: 65px;
    width: 100%;
    border-bottom: 1px solid #EEE !important;
    margin-bottom: 10px;
    position: relative;

    button {
      margin-right: 22px;
      margin-top: 22px;
      font-size: 22px;
    }

    .header-text {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      height: 100%;
      line-height: 55px;
      text-align: center;
      font-size: 24px;
      color: black;
      padding-top: 8px;
      position: relative;
      left: 9px;
    }

    .fa-star,
    .fa-star-o {
      color: #F7E00F;
      font-size: 26px;
      position: absolute;
      left: 180px;
      top: 20px;
    }
  }

  .starred-modal-body {
    height: 350px;
    width: 100%;
    overflow: scroll;
    margin-bottom: 20px;
  }

  #starredFeedView {
    width: 100%;

    .list-container {
      width: 100%;
      float: left;
      min-height: 130px;

      .no-others-exist {
        color: #cecece;
        font-style: italic;
        font-size: 14px;
        text-align: center;
        margin-top: 50px;
      }

      ul {
        width: 100%;
        padding-left: 0;
        list-style-type: none;
        float: left;

        li {
          width: 100%;
          height: 45px;
          float: left;
          cursor: pointer;
        }

        li:hover {
          background-color: #F4F6F8;
        }

        .starred-item-container {
          width: 100%;
          heigth: 100%;
          float: left;
          display: block;

          .title {
            width: 100%;
            padding-left: 30px;
            height: 100%;
            line-height: 45px;
            color: $not-quite-black;
            font-size: 14px;
            font-family: 'Proxima-Nova-SemiBold';
          }

        }

      }
    }
  }

}