
$not-quite-black: #1D1E22;

$selection-height: 25px;
$selection-spacing: 8px;
$connector-height: 33px;
$light-gray: #C4C5CA;


.vertical-toggle {
  width: 100px;
  position: relative;

  .selection {
    display: block;
    width: 100%;
    height: $selection-height;
    position: relative;
    cursor: pointer;

    .name {
      display: inline-block;
      float: right;
      position: absolute;
      right: 36px;
      line-height: $selection-height;
      font-size: 12px;
      color: $not-quite-black;
    }

    .anchor {
      display: inline-block;
      float: right;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $light-gray;
      position: relative;
      top: 7.5px;
      right: 7.5px;

      i {
        font-size: 15px;
        color: white;
        text-align: center;
        line-height: $selection-height;
        opacity: 0;
        margin-left: 7px;

      }

      i.fa-users {
        font-size: 12.5px;
        margin-left: 5.5px;
      }

    }
  }

  .selection-not-last {
    margin-bottom: $selection-spacing;
  }

  .connector {
    width: 1px;
    background-color: $light-gray;
    position: absolute;
    right: 12.5px;
    height: $connector-height;
    top: 12.5px;
    z-index: -1;
  }

}