
<!--HOME VIEW-->
{{#showHomeView}}
<div id="homeViewContainer"></div>
<div id="langFiltersView"></div>
<div id="minorFiltersView"></div>
<span id="floatingLoginWithGHBtn" class="octicon octicon-mark-github" data-toggle="gh-tooltip" data-placement="top" title="Login with Github"></span>

{{/showHomeView}}


<!--PROJECT VIEW-->
{{#showProjectView}}
<div id="projectViewContainer"></div>
{{/showProjectView}}

<!--MODALS-->
<div id="modalCreateProject"></div>
<div id="modalLogin"></div>
<div id="modalContribs"></div>
<div id="modalDeleteComment"></div>
<div id="modalDeleteProject"></div>
<div id="modalDeleteEvolutionItem"></div>
<div id="modalSendInvites"></div>
<div id="modalMyProjects"></div>
<div id="modalStarred"></div>
<div id="modalSignOut"></div>
<div id="modalAbout"></div>
<div id="modalRules"></div>
<div id="modalSuggestions"></div>
<div id="modalConfirmLaunch"></div>

<!--DROPDOWNS-->
<div onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';" id="notificationsDropdown" hidden></div>
<div id="accountDropdown" hidden></div>
<div id="extrasDropdown" hidden></div>

