<!--HOME VIEW-->
{{#showHomeView}}
<div id="homeViewContainer"></div>
<div id="langFiltersView" class="{{#isSafari}}safari{{/isSafari}}"></div>
<div id="minorFiltersView" class="{{#isSafari}}safari{{/isSafari}}"></div>
{{/showHomeView}}

<!--PROJECT VIEW-->
{{#showProjectView}}
<div id="projectViewContainer"></div>
{{/showProjectView}}

<i id="floatingSuggestionsBtn" class="fa fa-comments {{#isSafari}}safari{{/isSafari}}{{^isSafari}}not-safari{{/isSafari}}"></i>

<!--MODALS-->
<div id="modalCreateProject" class="{{#isSafari}}safari{{/isSafari}}" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalLogin" class="{{#isSafari}}safari{{/isSafari}}" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalContribs" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalDeleteComment" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalDeleteProject" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalDeleteEvolutionItem" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalSendInvites" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalMyProjects" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalStarred" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalSignOut" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalAbout" class="{{#isSafari}}safari{{/isSafari}}" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalRules" class="{{#isSafari}}safari{{/isSafari}}" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalSuggestions" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalConfirmLaunch" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="addImplementationModal" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';" class="{{#isSafari}}safari{{/isSafari}}"></div>
<div id="inviteMembersModal" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';" class="{{#isSafari}}safari{{/isSafari}}"></div>

<!--DROPDOWNS-->
<!--<div onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';" id="notificationsDropdown" hidden></div>-->
<div id="accountDropdown" hidden></div>
<div id="extrasDropdown" hidden></div>

<!--TUTORIAL SHIT-->
<div id="tutorialCover" hidden></div>
<div id="footer-tutorial-anchor" class="tutorial-anchor" hidden></div>
<div id="anp-tutorial-anchor" class="tutorial-anchor" hidden></div>
<div id="login-tutorial-anchor" class="tutorial-anchor" hidden></div>




