
<!--HOME VIEW-->
{{#showHomeView}}
<div id="homeViewContainer"></div>
<div id="langFiltersView" class="{{#isSafari}}safari{{/isSafari}}"></div>
<div id="minorFiltersView" class="{{#isSafari}}safari{{/isSafari}}"></div>
<span id="floatingLoginWithGHBtn" class="octicon octicon-mark-github {{#isSafari}}safari{{/isSafari}}{{^isSafari}}not-safari{{/isSafari}}" data-toggle="gh-tooltip" data-placement="top" title="Login with Github"></span>
{{/showHomeView}}


<!--PROJECT VIEW-->
{{#showProjectView}}
<div id="projectViewContainer"></div>
{{/showProjectView}}

<!--MODALS-->
<div id="modalCreateProject" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalLogin" class="{{#isSafari}}safari{{/isSafari}}"></div>
<div id="modalContribs"></div>
<div id="modalDeleteComment"></div>
<div id="modalDeleteProject"></div>
<div id="modalDeleteEvolutionItem"></div>
<div id="modalSendInvites"></div>
<div id="modalMyProjects"></div>
<div id="modalStarred"></div>
<div id="modalSignOut"></div>
<div id="modalAbout" class="{{#isSafari}}safari{{/isSafari}}"></div>
<div id="modalRules" class="{{#isSafari}}safari{{/isSafari}}" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';"></div>
<div id="modalSuggestions"></div>
<div id="modalConfirmLaunch"></div>
<div id="addImplementationModal" onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';" class="{{#isSafari}}safari{{/isSafari}}"></div>

<!--DROPDOWNS-->
<div onmouseover="document.body.style.overflow='hidden';" onmouseout="document.body.style.overflow='auto';" id="notificationsDropdown" hidden></div>
<div id="accountDropdown" hidden></div>
<div id="extrasDropdown" hidden></div>
<div id="tutorialCover" hidden></div>
<div id="footer-tutorial-anchor" class="tutorial-anchor" hidden></div>
<div id="anp-tutorial-anchor" class="tutorial-anchor" hidden></div>
<div id="login-tutorial-anchor" class="tutorial-anchor" hidden></div>




